In [24]:
import pandas as pd
import numpy as np
import ast

In [28]:
# function to safely converts JSON-like string to dictionaries
# ex: "{'name':'rock', 'age': '23'}" ====> {'name':'rock', 'age': 23}
def parse_json_column(df, column_name):
    for col in column_name:
        df[col] = df[col].apply(ast.literal_eval)
    return df


# Function to convert a list of dictionaries to a dictionary
def list_to_dict(lst):
    if isinstance(lst, list) and lst:
        # Check if 'key' exists in the first dictionary to determine the structure
        if 'key' in lst[0]:
            # If each dict has 'key' and 'value', use 'key' as dict key and 'value' as dict value
            return {item['key']: item['value'] for item in lst if 'key' in item and 'value' in item}
        elif 'value' in lst[0]:
            # If only 'value' is present, use index as the key and 'value' as dict value
            return {index: item['value'] for index, item in enumerate(lst) if 'value' in item}
    return {}  # Return an empty dict if input is not a valid list or contains invalid data

In [36]:
kolkata_cars=pd.read_excel(r"C:\Users\prave\OneDrive\Documents\GUVI\car dheko\kolkata_cars.xlsx")
jaipur_cars=pd.read_excel(r"C:\Users\prave\OneDrive\Documents\GUVI\car dheko\jaipur_cars.xlsx")
hyderabad_cars=pd.read_excel(r"C:\Users\prave\OneDrive\Documents\GUVI\car dheko\hyderabad_cars.xlsx")
delhi_cars=pd.read_excel(r"C:\Users\prave\OneDrive\Documents\GUVI\car dheko\delhi_cars.xlsx")
chennai_cars=pd.read_excel(r"C:\Users\prave\OneDrive\Documents\GUVI\car dheko\chennai_cars.xlsx")
bangalore_cars=pd.read_excel(r"C:\Users\prave\OneDrive\Documents\GUVI\car dheko\bangalore_cars.xlsx")

In [7]:
kolkata_cars

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
...,...,...,...,...,...
1376,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1377,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1378,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1379,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1380,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [8]:
jaipur_cars

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Diesel', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
...,...,...,...,...,...
1115,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1116,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Low...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1117,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1118,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Low...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1119,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [9]:
hyderabad_cars

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
...,...,...,...,...,...
1478,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1479,"{'it': 0, 'ft': 'Diesel', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1480,"{'it': 0, 'ft': 'Diesel', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1481,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1482,"{'it': 0, 'ft': 'Diesel', 'bt': 'MUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [10]:
delhi_cars

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
...,...,...,...,...,...
1480,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1481,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1482,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1483,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1484,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'I...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [11]:
chennai_cars

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Minivans', 'k...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Low...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
...,...,...,...,...,...
1414,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1415,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1416,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1417,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1418,"{'it': 0, 'ft': 'Diesel', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [12]:
bangalore_cars

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
...,...,...,...,...,...
1476,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1477,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1478,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1479,"{'it': 0, 'ft': 'Diesel', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1480,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

kolkata_cars

In [37]:
kolkata_cars.drop('car_links', axis=1,inplace=True)
kolkata_cars.columns

Index(['new_car_detail', 'new_car_overview', 'new_car_feature',
       'new_car_specs'],
      dtype='object')

In [38]:
kolkata_cars=parse_json_column(kolkata_cars, kolkata_cars.columns)

new_car_detail_kl

In [40]:
new_car_detail_kl=pd.json_normalize(kolkata_cars['new_car_detail'])
new_car_detail_kl

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText.imgUrl,trendingText.heading,trendingText.desc
0,0,Petrol,Sedan,"70,000",Automatic,3,3rd Owner,Toyota,Toyota Camry,2014,2123,Hybrid,â‚¹ 9.75 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1,0,Petrol,Hatchback,"23,981",Manual,1,1st Owner,Datsun,Datsun RediGO,2017,5236,T Option,â‚¹ 2.66 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
2,0,Petrol,SUV,"7,100",Automatic,1,1st Owner,Renault,Renault Kiger,2021,8352,RXT AMT,â‚¹ 5.95 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
3,0,Petrol,Hatchback,"71,574",Manual,2,2nd Owner,Hyundai,Hyundai i20,2011,1642,1.2 Sportz,â‚¹ 2.23 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
4,0,Diesel,SUV,"50,000",Automatic,2,2nd Owner,Audi,Audi Q3,2014,99,35 TDI Quattro Premium,â‚¹ 12 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1376,0,Petrol,Hatchback,"10,000",Manual,1,1st Owner,Maruti,Maruti Celerio,2022,8682,ZXI BSVI,â‚¹ 5.10 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1377,0,Petrol,Hatchback,"1,20,000",Manual,1,1st Owner,Maruti,Maruti Alto 800,2014,3943,LXI,â‚¹ 1.80 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1378,0,Petrol,Sedan,"50,000",Automatic,3,3rd Owner,Mercedes-Benz,Mercedes-Benz C-Class,2011,4672,C 200 CGI Elegance,â‚¹ 5.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1379,0,Petrol,Hatchback,"40,000",Manual,1,1st Owner,Maruti,Maruti Ritz,2012,4144,ZXi,â‚¹ 1.40 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1380,0,Diesel,SUV,"1,20,000",Manual,2,2nd Owner,Renault,Renault Duster,2017,5048,110PS Diesel RxZ AWD,â‚¹ 5 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days

new_car_overview

In [46]:
new_car_overview_kl=pd.json_normalize(kolkata_cars['new_car_overview'])
new_car_overview_kl

,heading,top,bottomData
0,Car overview,"[{'key': 'Registration Year', 'value': '2014',...",None
1,Car overview,"[{'key': 'Registration Year', 'value': 'Jul 20...",None
2,Car overview,"[{'key': 'Registration Year', 'value': 'Nov 20...",None
3,Car overview,"[{'key': 'Registration Year', 'value': 'Feb 20...",None
4,Car overview,"[{'key': 'Registration Year', 'value': '2014',...",None
...,...,...,...
1376,Car overview,"[{'key': 'Registration Year', 'value': '2022',...",None
1377,Car overview,"[{'key': 'Registration Year', 'value': '2014',...",None
1378,Car overview,"[{'key': 'Registration Year', 'value': '2011',...",None
1379,Car overview,"[{'key': 'Registration Year', 'value': '2012',...",None
1380,Car overview,"[{'key': 'Registration Year', 'value': '2017',...",None

In [ ]:
new_car_overview_kl.drop('bottomData',inplace = True, axis=1)
new_car_overview_kl

In [50]:
new_car_overview_kl

           heading                                                top
0     Car overview  [{'key': 'Registration Year', 'value': '2014',...
1     Car overview  [{'key': 'Registration Year', 'value': 'Jul 20...
2     Car overview  [{'key': 'Registration Year', 'value': 'Nov 20...
3     Car overview  [{'key': 'Registration Year', 'value': 'Feb 20...
4     Car overview  [{'key': 'Registration Year', 'value': '2014',...
...            ...                                                ...
1376  Car overview  [{'key': 'Registration Year', 'value': '2022',...
1377  Car overview  [{'key': 'Registration Year', 'value': '2014',...
1378  Car overview  [{'key': 'Registration Year', 'value': '2011',...
1379  Car overview  [{'key': 'Registration Year', 'value': '2012',...
1380  Car overview  [{'key': 'Registration Year', 'value': '2017',...

[1381 rows x 2 columns]

In [51]:
new_car_overview_kl_top=new_car_overview_kl['top'].apply(list_to_dict)
new_car_overview_kl_top=pd.json_normalize(new_car_overview_kl_top)
new_car_overview_kl_top

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,2014,Third Party insurance,Petrol,5 Seats,"70,000 Kms",WB02,Third Owner,2494 cc,Automatic,2014.0
1,Jul 2017,Comprehensive,Petrol,5 Seats,"23,981 Kms",WB24,First Owner,799 cc,Manual,2017.0
2,Nov 2021,Comprehensive,Petrol,5 Seats,"7,100 Kms",WB06,First Owner,999 cc,Automatic,2021.0
3,Feb 2012,Third Party,Petrol,5 Seats,"71,574 Kms",WB06,Second Owner,1197 cc,Manual,2011.0
4,2014,Third Party insurance,Diesel,5 Seats,"50,000 Kms",WB02,Second Owner,1968 cc,Automatic,2014.0
...,...,...,...,...,...,...,...,...,...,...
1376,2022,Third Party insurance,Petrol,5 Seats,"10,000 Kms",NaN,First Owner,998 cc,Manual,2022.0
1377,2014,Third Party insurance,Petrol,5 Seats,"1,20,000 Kms",NaN,First Owner,796 cc,Manual,2014.0
1378,2011,Third Party insurance,Petrol,5 Seats,"50,000 Kms",WB06,Third Owner,1796 cc,Automatic,2011.0
1379,2012,Third Party insurance,Petrol,5 Seats,"40,000 Kms",NaN,First Owner,1197 cc,Manual,2012.0
1380,2017,Third Party insurance,Diesel,5 Seats,"1,20,000 Kms",NaN,Second Owner,1461 cc,Manual,2017.0

new_car_specs

In [52]:
new_car_specs=pd.json_normalize(kolkata_cars['new_car_specs'])
new_car_specs

,heading,top,data,commonIcon
0,Specifications,"[{'key': 'Mileage', 'value': '19.16 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
1,Specifications,"[{'key': 'Mileage', 'value': '22.7 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
2,Specifications,"[{'key': 'Mileage', 'value': '19.03 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
3,Specifications,"[{'key': 'Mileage', 'value': '17 kmpl'}, {'key...","[{'heading': 'Engine and Transmission', 'subHe...",
4,Specifications,"[{'key': 'Mileage', 'value': '15.73 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
...,...,...,...,...
1376,Specifications,"[{'key': 'Mileage', 'value': '25.24 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
1377,Specifications,"[{'key': 'Mileage', 'value': '22.74 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
1378,Specifications,"[{'key': 'Mileage', 'value': '11.74 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
1379,Specifications,"[{'key': 'Mileage', 'value': '18.5 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
1380,Specifications,"[{'key': 'Mileage', 'value': '19.72 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",

In [55]:
new_car_specs_top=new_car_specs['top'].apply(list_to_dict)
new_car_specs_top=pd.json_normalize(new_car_specs_top)
new_car_specs_top

,Mileage,Engine,Max Power,Torque,Wheel Size,Seats
0,19.16 kmpl,2494 CC,158.2bhp,213Nm,17,5
1,22.7 kmpl,799 CC,53.64bhp,72Nm,NaN,5
2,19.03 kmpl,999 CC,71.01bhp,96Nm,NaN,5
3,17 kmpl,1197 CC,80 PS at 5200 rpm,"11.4 kgm at 4,000 rpm",14,5
4,15.73 kmpl,1968 CC,174.33bhp,380Nm,16,5
...,...,...,...,...,...,...
1376,25.24 kmpl,998 CC,65.71bhp,89Nm,NaN,5
1377,22.74 kmpl,796 CC,47.3bhp,69Nm,NaN,5
1378,11.74 kmpl,1796 CC,186bhp,285Nm,17,5
1379,18.5 kmpl,1197 CC,85.80bhp,114Nm,14,5
1380,19.72 kmpl,1461 CC,108.45bhp,245Nm,16,5

In [57]:
new_car_specs_data=pd.json_normalize(new_car_specs['data'])
new_car_specs_data

,0,1,2
0,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
2,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
3,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
4,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
...,...,...,...
1376,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1377,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1378,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1379,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1380,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."

In [61]:
new_car_specs_data_0=pd.json_normalize(new_car_specs_data[0])
new_car_specs_data_0

,heading,subHeading,list
0,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'White'}, {'key': '..."
1,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Red'}, {'key': 'En..."
2,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Blue'}, {'key': 'E..."
3,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Red'}, {'key': 'En..."
4,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'White'}, {'key': '..."
...,...,...,...
1376,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Others'}, {'key': ..."
1377,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Others'}, {'key': ..."
1378,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Others'}, {'key': ..."
1379,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Others'}, {'key': ..."
1380,Engine and Transmission,Engine,"[{'key': 'Color', 'value': 'Others'}, {'key': ..."

In [65]:
new_car_specs_data_0_list=new_car_specs_data_0['list'].apply(list_to_dict)
new_car_specs_data_0_list=pd.json_normalize(new_car_specs_data_0_list)
new_car_specs_data_0_list

,Color,Engine Type,Displacement,Max Power,Max Torque,No of Cylinder,Values per Cylinder,Value Configuration,Fuel Suppy System,BoreX Stroke,Turbo Charger,Super Charger,Compression Ratio
0,White,2AR FXE Petrol Engine,2494,158.2bhp@5700rpm,213Nm@4500rpm,4.0,4.0,DOHC,Electronic Fuel Injection(EFI),90 X 98 mm,No,No,NaN
1,Red,0.8L Petrol Engine,799,53.64bhp@5678rpm,72Nm@4386rpm,3.0,4.0,DOHC,MPFi,NaN,No,No,NaN
2,Blue,1.0L energy,999,71.01bhp@6250rpm,96Nm@3500rpm,3.0,4.0,NaN,MPFi,NaN,NaN,NaN,NaN
3,Red,In-Line Engine,1197,80 PS at 5200 rpm,"11.4 kgm at 4,000 rpm",4.0,4.0,DOHC,MPFI,NaN,No,No,:1
4,White,TDI Diesel Engine,1968,174.33bhp@4200rpm,380Nm@1750-2500rpm,4.0,4.0,DOHC,CRDI,NaN,Yes,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1376,Others,K10C,998,65.71bhp@5500rpm,89Nm@3500rpm,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
1377,Others,F8D Petrol Engine,796,47.3bhp@6000rpm,69Nm@3500rpm,3.0,4.0,DOHC,MPFi,NaN,No,No,NaN
1378,Others,Blue Efficiency Engine,1796,186bhp@5600rpm,285Nm@2400-4000rpm,4.0,4.0,NaN,Mpfi,NaN,No,No,9.3:1
1379,Others,K Series Petrol Engine,1197,85.80bhp@6000rpm,114Nm@4000rpm,4.0,4.0,DOHC,MPFI,NaN,No,No,NaN
1380,Others,dCi THP Diesel Engine,1461,108.45bhp@4000rpm,245Nm@1750rpm,4.0,4.0,DOHC,CRDi,NaN,Yes,No,NaN

In [67]:
new_car_specs_data_1=pd.json_normalize(new_car_specs_data[1])
new_car_specs_data_1_list=new_car_specs_data_1['list'].apply(list_to_dict)
new_car_specs_data_1_list=pd.json_normalize(new_car_specs_data_1_list)
new_car_specs_data_1_list

,Length,Width,Height,Wheel Base,Front Tread,Rear Tread,Kerb Weight,Gross Weight,Ground Clearance Unladen,Seating Capacity,Steering Type,Tyre Type,Alloy Wheel Size,No Door Numbers
0,4825mm,1825mm,1480mm,2775mm,1580mm,1570mm,1625kg,2100kg,NaN,NaN,NaN,NaN,NaN,NaN
1,3429mm,1560mm,1541mm,2348mm,NaN,NaN,770,NaN,185mm,NaN,NaN,NaN,NaN,NaN
2,3991mm,1750,1605,2500,1536,1535,1055,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3940 mm,1710 mm,1505 mm,"2,525 mm","1,505 mm","1,503 mm",1020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4385mm,2019mm,1608mm,2603mm,1571mm,1575mm,1660kg,2185kg,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1376,3695mm,1655,1555,2435,1430,1440,810,1260,NaN,NaN,NaN,NaN,NaN,NaN
1377,3395mm,1490mm,1475mm,2360mm,1295mm,1290mm,720kg,1185kg,NaN,NaN,NaN,NaN,NaN,NaN
1378,4591mm,1770mm,1447mm,2760mm,1549mm,1552mm,1585kg,2020kg,NaN,NaN,NaN,NaN,NaN,NaN
1379,3775mm,1680mm,1620mm,2360mm,1470mm,1480mm,1030kg,1430kg,NaN,NaN,NaN,NaN,NaN,NaN
1380,4315mm,1822mm,1695mm,2673mm,1560mm,1567mm,1350,1889kg,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
new_car_specs_data_2=pd.json_normalize(new_car_specs_data[2])
new_car_specs_data_2_list=new_car_specs_data_2['list'].apply(list_to_dict)
new_car_specs_data_2_list=pd.json_normalize(new_car_specs_data_2_list)
new_car_specs_data_2_list

,Gear Box,Drive Type,Seating Capacity,Steering Type,Turning Radius,Front Brake Type,Rear Brake Type,Tyre Type,Alloy Wheel Size,No Door Numbers,Cargo Volumn,Acceleration,Top Speed
0,6 Speed,FWD,5,Power,5.5 metres,Ventilated Disc,Solid Disc,"Tubeless,Radial",17,4,NaN,NaN,NaN
1,5-Speed,2WD,5,Power,4.7m,Disc,Drum,NaN,NaN,5,222,NaN,NaN
2,5 Speed,NaN,5,Electric,NaN,Disc,Drum,"Tubeless, Radial",NaN,5,405,NaN,NaN
3,5 Speed,FWD,5,Power,5.20 m,Disc,Drum,"Tubeless,Radial",14,5,295 Lit,12.96 Sec,NaN
4,7-Speed S-Tronic,AWD,5,Power,5.9 metres,Ventilated Disc,Drum,"Tubeless,Radial",16,5,460-litres,8.2 Seconds,212 Kmph
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1376,5-Speed,NaN,5,Electric,NaN,Ventilated Disc,Drum,"Tubeless, Radial",NaN,5,313,NaN,NaN
1377,5 Speed,FWD,5,Power,4.6 metres,Solid Disc,Drum,Tubeless Tyres,NaN,5,177-litres,19 Seconds,140 kmph
1378,7 Speed,RWD,5,Power,5.42 metres,Ventilated Disc,Solid Disc,"Tubeless,Radial",17,4,475-litres,8.8 Seconds,230km/hr
1379,5 Speed,FWD,5,Power,4.7 metres,Ventilated Disc,Drum,"Tubeless,Radial",14,5,236-liters,15 Seconds,156 Kmph
1380,6 Speed,AWD,5,Power,5.2 metres,Disc,Drum,"Tubeless,Radial",16,5,410-litres,14.20 Seconds,168 Kmph

In [69]:
#Combine all the column in csv format
kolkata_cars=pd.concat([new_car_detail_kl,new_car_overview_kl_top,new_car_specs_top,new_car_specs_data_0_list,new_car_specs_data_1_list,new_car_specs_data_2_list],axis=1)

In [70]:
kolkata_cars

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Steering Type,Turning Radius,Front Brake Type,Rear Brake Type,Tyre Type,Alloy Wheel Size,No Door Numbers,Cargo Volumn,Acceleration,Top Speed
0,0,Petrol,Sedan,"70,000",Automatic,3,3rd Owner,Toyota,Toyota Camry,2014,...,Power,5.5 metres,Ventilated Disc,Solid Disc,"Tubeless,Radial",17,4,NaN,NaN,NaN
1,0,Petrol,Hatchback,"23,981",Manual,1,1st Owner,Datsun,Datsun RediGO,2017,...,Power,4.7m,Disc,Drum,NaN,NaN,5,222,NaN,NaN
2,0,Petrol,SUV,"7,100",Automatic,1,1st Owner,Renault,Renault Kiger,2021,...,Electric,NaN,Disc,Drum,"Tubeless, Radial",NaN,5,405,NaN,NaN
3,0,Petrol,Hatchback,"71,574",Manual,2,2nd Owner,Hyundai,Hyundai i20,2011,...,Power,5.20 m,Disc,Drum,"Tubeless,Radial",14,5,295 Lit,12.96 Sec,NaN
4,0,Diesel,SUV,"50,000",Automatic,2,2nd Owner,Audi,Audi Q3,2014,...,Power,5.9 metres,Ventilated Disc,Drum,"Tubeless,Radial",16,5,460-litres,8.2 Seconds,212 Kmph
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1376,0,Petrol,Hatchback,"10,000",Manual,1,1st Owner,Maruti,Maruti Celerio,2022,...,Electric,NaN,Ventilated Disc,Drum,"Tubeless, Radial",NaN,5,313,NaN,NaN
1377,0,Petrol,Hatchback,"1,20,000",Manual,1,1st Owner,Maruti,Maruti Alto 800,2014,...,Power,4.6 metres,Solid Disc,Drum,Tubeless Tyres,NaN,5,177-litres,19 Seconds,140 kmph
1378,0,Petrol,Sedan,"50,000",Automatic,3,3rd Owner,Mercedes-Benz,Mercedes-Benz C-Class,2011,...,Power,5.42 metres,Ventilated Disc,Solid Disc,"Tubeless,Radial",17,4,475-litres,8.8 Seconds,230km/hr
1379,0,Petrol,Hatchback,"40,000",Manual,1,1st Owner,Maruti,Maruti Ritz,2012,...,Power,4.7 metres,Ventilated Disc,Drum,"Tubeless,Radial",14,5,236-liters,15 Seconds,156 Kmph
1380,0,Diesel,SUV,"1,20,000",Manual,2,2nd Owner,Renault,Renault Duster,2017,...,Power,5.2 metres,Disc,Drum,"Tubeless,Radial",16,5,410-litres,14.20 Seconds,168 Kmph

In [73]:
kolkata_cars['City']='Kolkata'

In [74]:
kolkata_cars

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Turning Radius,Front Brake Type,Rear Brake Type,Tyre Type,Alloy Wheel Size,No Door Numbers,Cargo Volumn,Acceleration,Top Speed,City
0,0,Petrol,Sedan,"70,000",Automatic,3,3rd Owner,Toyota,Toyota Camry,2014,...,5.5 metres,Ventilated Disc,Solid Disc,"Tubeless,Radial",17,4,NaN,NaN,NaN,Kolkata
1,0,Petrol,Hatchback,"23,981",Manual,1,1st Owner,Datsun,Datsun RediGO,2017,...,4.7m,Disc,Drum,NaN,NaN,5,222,NaN,NaN,Kolkata
2,0,Petrol,SUV,"7,100",Automatic,1,1st Owner,Renault,Renault Kiger,2021,...,NaN,Disc,Drum,"Tubeless, Radial",NaN,5,405,NaN,NaN,Kolkata
3,0,Petrol,Hatchback,"71,574",Manual,2,2nd Owner,Hyundai,Hyundai i20,2011,...,5.20 m,Disc,Drum,"Tubeless,Radial",14,5,295 Lit,12.96 Sec,NaN,Kolkata
4,0,Diesel,SUV,"50,000",Automatic,2,2nd Owner,Audi,Audi Q3,2014,...,5.9 metres,Ventilated Disc,Drum,"Tubeless,Radial",16,5,460-litres,8.2 Seconds,212 Kmph,Kolkata
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1376,0,Petrol,Hatchback,"10,000",Manual,1,1st Owner,Maruti,Maruti Celerio,2022,...,NaN,Ventilated Disc,Drum,"Tubeless, Radial",NaN,5,313,NaN,NaN,Kolkata
1377,0,Petrol,Hatchback,"1,20,000",Manual,1,1st Owner,Maruti,Maruti Alto 800,2014,...,4.6 metres,Solid Disc,Drum,Tubeless Tyres,NaN,5,177-litres,19 Seconds,140 kmph,Kolkata
1378,0,Petrol,Sedan,"50,000",Automatic,3,3rd Owner,Mercedes-Benz,Mercedes-Benz C-Class,2011,...,5.42 metres,Ventilated Disc,Solid Disc,"Tubeless,Radial",17,4,475-litres,8.8 Seconds,230km/hr,Kolkata
1379,0,Petrol,Hatchback,"40,000",Manual,1,1st Owner,Maruti,Maruti Ritz,2012,...,4.7 metres,Ventilated Disc,Drum,"Tubeless,Radial",14,5,236-liters,15 Seconds,156 Kmph,Kolkata
1380,0,Diesel,SUV,"1,20,000",Manual,2,2nd Owner,Renault,Renault Duster,2017,...,5.2 metres,Disc,Drum,"Tubeless,Radial",16,5,410-litres,14.20 Seconds,168 Kmph,Kolkata

In [75]:
# save this csv file
kolkata_cars.to_csv(r"C:\Users\prave\OneDrive\Documents\GUVI\car dheko\kolkata_cars.csv",index=False)

Jaipur cars

In [102]:
jaipur_cars.drop('car_links',axis=1,inplace=True)

In [103]:
jaipur_cars.columns

Index(['new_car_detail', 'new_car_overview', 'new_car_feature',
       'new_car_specs'],
      dtype='object')

In [ ]:
#parase all
jaipur_cars=parse_json_column(jaipur_cars,jaipur_cars.columns)

new_car_detail

In [105]:
new_car_detail_jp=pd.json_normalize(jaipur_cars['new_car_detail'])
new_car_detail_jp

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText.imgUrl,trendingText.heading,trendingText.desc
0,0,Diesel,Hatchback,"1,20,000",Manual,2,2nd Owner,Hyundai,Hyundai i20,2015,1487,Asta 1.4 CRDi,â‚¹ 5.10 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1,0,Petrol,Hatchback,"66,951",Manual,1,1st Owner,Maruti,Maruti Swift,2012,10403,VXI,â‚¹ 3.81 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
2,0,Petrol,Hatchback,"80,000",Automatic,2,2nd Owner,Maruti,Maruti Celerio,2016,3982,VXI AT,â‚¹ 3.20 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
3,0,Petrol,Hatchback,"44,392",Manual,1,1st Owner,Hyundai,Hyundai Grand i10,2017,5602,1.2 Kappa Magna BSIV,â‚¹ 4.20 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
4,0,Petrol,Hatchback,"40,000",Automatic,1,1st Owner,Maruti,Maruti Wagon R,2016,4319,AMT VXI,â‚¹ 3.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,0,Petrol,Hatchback,"1,20,000",Manual,1,1st Owner,Chevrolet,Chevrolet Beat,2011,438,LT,â‚¹ 1.08 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1116,0,Petrol,Hatchback,"70,000",Manual,1,1st Owner,Maruti,Maruti Alto,2007,3917,STD,â‚¹ 1.05 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1117,0,Petrol,SUV,"20,000",Manual,1,1st Owner,Renault,Renault Kiger,2022,8350,RXZ,â‚¹ 8.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1118,0,Petrol,Hatchback,"40,000",Manual,1,1st Owner,Maruti,Maruti Alto,2009,3904,Std,â‚¹ 1 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1119,0,Petrol,Hatchback,"80,000",Manual,1,1st Owner,Maruti,Maruti Baleno,2018,3962,1.2 Delta,â‚¹ 5 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days

new_car_overview

In [121]:
new_car_overview_jp=pd.json_normalize(jaipur_cars['new_car_overview'])
new_car_overview_jp

,heading,top,bottomData
0,Car overview,"[{'key': 'Registration Year', 'value': '2015',...",None
1,Car overview,"[{'key': 'Registration Year', 'value': 'Jan 20...",None
2,Car overview,"[{'key': 'Registration Year', 'value': '2016',...",None
3,Car overview,"[{'key': 'Registration Year', 'value': 'Apr 20...",None
4,Car overview,"[{'key': 'Registration Year', 'value': '2016',...",None
...,...,...,...
1115,Car overview,"[{'key': 'Registration Year', 'value': '2011',...",None
1116,Car overview,"[{'key': 'Registration Year', 'value': '2007',...",None
1117,Car overview,"[{'key': 'Registration Year', 'value': '2022',...",None
1118,Car overview,"[{'key': 'Registration Year', 'value': '2009',...",None
1119,Car overview,"[{'key': 'Registration Year', 'value': '2018',...",None

In [122]:
new_car_overview_jp.drop('bottomData',axis=1,inplace=True)

In [123]:
new_car_overview_jp

           heading                                                top
0     Car overview  [{'key': 'Registration Year', 'value': '2015',...
1     Car overview  [{'key': 'Registration Year', 'value': 'Jan 20...
2     Car overview  [{'key': 'Registration Year', 'value': '2016',...
3     Car overview  [{'key': 'Registration Year', 'value': 'Apr 20...
4     Car overview  [{'key': 'Registration Year', 'value': '2016',...
...            ...                                                ...
1115  Car overview  [{'key': 'Registration Year', 'value': '2011',...
1116  Car overview  [{'key': 'Registration Year', 'value': '2007',...
1117  Car overview  [{'key': 'Registration Year', 'value': '2022',...
1118  Car overview  [{'key': 'Registration Year', 'value': '2009',...
1119  Car overview  [{'key': 'Registration Year', 'value': '2018',...

[1120 rows x 2 columns]

In [124]:
new_car_overview_jp_top=new_car_overview_jp['top'].apply(list_to_dict)
new_car_overview_jp_top=pd.json_normalize(new_car_overview_jp_top)
new_car_overview_jp_top

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,2015,Third Party insurance,Diesel,5 Seats,"1,20,000 Kms",RJ13,Second Owner,1396 cc,Manual,2015.0
1,Jan 2012,Third Party,Petrol,5 Seats,"66,951 Kms",RJ14,First Owner,1197 cc,Manual,2012.0
2,2016,Third Party insurance,Petrol,5 Seats,"80,000 Kms",RJ14,Second Owner,998 cc,Automatic,2016.0
3,Apr 2017,Third Party insurance,Petrol,5 Seats,"44,392 Kms",RJ14,First Owner,1197 cc,Manual,2017.0
4,2016,Third Party insurance,Petrol,5 Seats,"40,000 Kms",RJ14,First Owner,998 cc,Automatic,2016.0
...,...,...,...,...,...,...,...,...,...,...
1115,2011,Third Party insurance,Petrol,5 Seats,"1,20,000 Kms",RJ14,First Owner,1199 cc,Manual,2011.0
1116,2007,Third Party insurance,Petrol,5 Seats,"70,000 Kms",RJ30,First Owner,796 cc,Manual,2007.0
1117,2022,Third Party insurance,Petrol,5 Seats,"20,000 Kms",RJ45,First Owner,999 cc,Manual,2022.0
1118,2009,Third Party insurance,Petrol,5 Seats,"40,000 Kms",NaN,First Owner,796 cc,Manual,2009.0
1119,2018,Third Party insurance,Petrol,5 Seats,"80,000 Kms",UP82,First Owner,1197 cc,Manual,2018.0

In [127]:
new_car_specs_jp=pd.json_normalize(jaipur_cars['new_car_specs'])
new_car_specs_jp.drop('commonIcon',axis=1,inplace=True)
new_car_specs_jp

,heading,top,data
0,Specifications,"[{'key': 'Mileage', 'value': '22.54 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe..."
1,Specifications,"[{'key': 'Mileage', 'value': '22.38 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe..."
2,Specifications,"[{'key': 'Mileage', 'value': '23.1 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe..."
3,Specifications,"[{'key': 'Mileage', 'value': '18.9 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe..."
4,Specifications,"[{'key': 'Mileage', 'value': '20.51 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe..."
...,...,...,...
1115,Specifications,"[{'key': 'Mileage', 'value': '18.6 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe..."
1116,Specifications,"[{'key': 'Mileage', 'value': '19.7 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe..."
1117,Specifications,"[{'key': 'Mileage', 'value': '19.17 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe..."
1118,Specifications,"[{'key': 'Mileage', 'value': '19.7 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe..."
1119,Specifications,"[{'key': 'Mileage', 'value': '21.4 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe..."

new_car_specs_top

In [132]:
new_car_specs_jp_top=new_car_specs_jp['top'].apply(list_to_dict)
new_car_specs_jp_top=pd.json_normalize(new_car_specs_jp_top)
new_car_specs_jp_top

         Mileage   Engine Max Power    Torque Wheel Size Seats
0     22.54 kmpl  1396 CC  88.73bhp   219.7Nm         16     5
1     22.38 kmpl  1197 CC  88.50bhp     113Nm        NaN     5
2      23.1 kmpl   998 CC  67.04bhp      90Nm        NaN     5
3      18.9 kmpl  1197 CC  81.86bhp  113.75nm        NaN     5
4     20.51 kmpl   998 CC     67bhp      90Nm        NaN     5
...          ...      ...       ...       ...        ...   ...
1115   18.6 kmpl  1199 CC   79.4bhp     108Nm         14     5
1116   19.7 kmpl   796 CC   46.3bhp      62Nm         12     5
1117  19.17 kmpl   999 CC  71.01bhp      96Nm         16     5
1118   19.7 kmpl   796 CC   46.3bhp      62Nm         12     5
1119   21.4 kmpl  1197 CC   83.1bhp     115Nm        NaN     5

[1120 rows x 6 columns]

new_car_spec_data

In [143]:
new_car_specs_jp_data=pd.json_normalize(new_car_specs_jp['data'])
new_car_specs_jp_data

,0,1,2
0,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
2,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
3,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
4,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
...,...,...,...
1115,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1116,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1117,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1118,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1119,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."

In [148]:
new_car_specs_jp_data_0=pd.json_normalize(new_car_specs_jp_data[0])
new_car_specs_jp_data_0=new_car_specs_jp_data_0['list'].apply(list_to_dict)
new_car_specs_jp_data_0=pd.json_normalize(new_car_specs_jp_data_0)
new_car_specs_jp_data_0

,Color,Engine Type,Displacement,Max Power,Max Torque,No of Cylinder,Values per Cylinder,Value Configuration,Fuel Suppy System,Turbo Charger,Super Charger,BoreX Stroke,Compression Ratio
0,Others,U2 CRDI Diesel Engine,1396,88.73bhp@4000rpm,219.7Nm@1500-2750rpm,4.0,4.0,DOHC,CRDI,Yes,No,NaN,NaN
1,White,K Series Dual jet,1197,88.50bhp@6000rpm,113Nm@4400rpm,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Others,K10B Engine,998,67.04bhp@6000rpm,90Nm@3500rpm,3.0,4.0,DOHC,MPFi,No,No,73 X 82 mm,11.0:1
3,Silver,Kappa VTVT Petrol Engine,1197,81.86bhp@6000rpm,113.75nm@4000rpm,4.0,4.0,DOHC,MPFI,No,No,NaN,NaN
4,Silver,K10B Petrol Engine,998,67bhp@6000rpm,90Nm@3500rpm,3.0,4.0,DOHC,NaN,No,No,69 x 72 mm,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,Others,Smartech Engine,1199,79.4bhp@6200rpm,108Nm@4400rpm,4.0,4.0,DOHC,MPFI,No,No,NaN,NaN
1116,Others,In-Line Engine,796,46.3bhp@6200rpm,62Nm@3000rpm,3.0,4.0,SOHC,MPFI,No,No,68.5 x 72.0 mm,NaN
1117,Others,1.0L energy,999,71.01bhp@6250rpm,96Nm@3500rpm,3.0,4.0,NaN,MPFi,NaN,NaN,NaN,NaN
1118,Others,In-Line Engine,796,46.3bhp@6200rpm,62Nm@3000rpm,3.0,4.0,SOHC,MPFI,No,No,68.5 x 72.0 mm,NaN
1119,Others,VVT Petrol Engine,1197,83.1bhp@6000rpm,115Nm@4000rpm,4.0,4.0,DOHC,MPFI,No,No,NaN,NaN

In [149]:
new_car_specs_jp_data_1=pd.json_normalize(new_car_specs_jp_data[1])
new_car_specs_jp_data_1=new_car_specs_jp_data_1['list'].apply(list_to_dict)
new_car_specs_jp_data_1=pd.json_normalize(new_car_specs_jp_data_1)
new_car_specs_jp_data_1

,Length,Width,Height,Wheel Base,Front Tread,Rear Tread,Kerb Weight,Gross Weight,Ground Clearance Unladen,Seating Capacity,...,Tyre Type,Alloy Wheel Size,No Door Numbers,Gear Box,Drive Type,Turning Radius,Front Brake Type,Rear Brake Type,Top Speed,Acceleration
0,3985mm,1734mm,1505mm,2570mm,1505mm,1503mm,1515kg,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3845mm,1735,1530,2450,1530,1530,875-905,1335,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3715mm,1635mm,1565mm,2425mm,1420mm,1410mm,840kg,1250kg,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3765mm,1660mm,1520mm,2425mm,1479mm,1493mm,1100,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3599mm,1495mm,1700mm,2400mm,1295mm,1290mm,890kg,1350kg,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,3640mm,1595mm,1520mm,2375mm,NaN,NaN,990,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1116,3495mm,1475mm,1460mm,2360mm,1295mm,1290mm,690kg,1140kg,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1117,3991mm,1750,1605,2500,1536,1535,1012,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1118,3495mm,1475mm,1460mm,2360mm,1295mm,1290mm,690kg,1140kg,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1119,3995mm,1745mm,1510mm,2520mm,1515mm,1525mm,870kg,1340kg,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [150]:
new_car_specs_jp_data_2=pd.json_normalize(new_car_specs_jp_data[2])
new_car_specs_jp_data_2=new_car_specs_jp_data_2['list'].apply(list_to_dict)
new_car_specs_jp_data_2=pd.json_normalize(new_car_specs_jp_data_2)
new_car_specs_jp_data_2

,Gear Box,Drive Type,Seating Capacity,Steering Type,Turning Radius,Front Brake Type,Rear Brake Type,Top Speed,Acceleration,Tyre Type,Alloy Wheel Size,No Door Numbers,Cargo Volumn
0,6 Speed,FWD,5,Power,5.2 metres,Disc,Drum,180 Kmph,11.9 Seconds,Tubeless,16,5,295-litres
1,5-Speed,NaN,5,Electric,4.8,Disc,Drum,NaN,NaN,"Radial, Tubeless",NaN,5,268
2,5 Speed,FWD,5,Power,4.7 metres,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless, Radial",NaN,5,235-litres
3,5 Speed,FWD,5,Power,4.8 metres,Disc,Drum,165 Kmph,12.9 Seconds,Tubeless,NaN,5,256
4,5 Speed,FWD,5,Power,4.6 metres,Ventilated Disc,Drum,152 kmph,18.6 Seconds,Tubeless Tyres,NaN,5,180-liters
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,5 Speed,FWD,5,Power,4.85metres,Disc,Drum,NaN,NaN,"Tubeless,Radial",14,5,170-litres
1116,5 Speed,2WD,5,Manual,4.6m,Disc,Drum,137km/hr,17.7 seconds,"Tubeless,Radial",12,5,NaN
1117,5 Speed,NaN,5,Electric,NaN,Disc,Drum,NaN,NaN,"Tubeless, Radial",16,5,405
1118,5 Speed,2WD,5,Manual,4.6m,Disc,Drum,137km/hr,17.7 seconds,"Tubeless,Radial",12,5,NaN
1119,5 Speed,FWD,5,Power,4.9 meters,Disc,Drum,180 Kmph,12.36 seconds,"Tubeless,Radial",NaN,5,339-litres

In [151]:
jaipur_cars=pd.concat([new_car_detail_jp,new_car_overview_jp_top,new_car_specs_jp_top,new_car_specs_jp_data_0,new_car_specs_jp_data_1,new_car_specs_jp_data_2],axis=1)

In [152]:
jaipur_cars['City']='Jaipur'

In [153]:
jaipur_cars.to_csv(r"C:\Users\prave\OneDrive\Documents\GUVI\car dheko\jaipur_cars.csv",index=False)
jaipur_cars

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Turning Radius,Front Brake Type,Rear Brake Type,Top Speed,Acceleration,Tyre Type,Alloy Wheel Size,No Door Numbers,Cargo Volumn,City
0,0,Diesel,Hatchback,"1,20,000",Manual,2,2nd Owner,Hyundai,Hyundai i20,2015,...,5.2 metres,Disc,Drum,180 Kmph,11.9 Seconds,Tubeless,16,5,295-litres,Jaipur
1,0,Petrol,Hatchback,"66,951",Manual,1,1st Owner,Maruti,Maruti Swift,2012,...,4.8,Disc,Drum,NaN,NaN,"Radial, Tubeless",NaN,5,268,Jaipur
2,0,Petrol,Hatchback,"80,000",Automatic,2,2nd Owner,Maruti,Maruti Celerio,2016,...,4.7 metres,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless, Radial",NaN,5,235-litres,Jaipur
3,0,Petrol,Hatchback,"44,392",Manual,1,1st Owner,Hyundai,Hyundai Grand i10,2017,...,4.8 metres,Disc,Drum,165 Kmph,12.9 Seconds,Tubeless,NaN,5,256,Jaipur
4,0,Petrol,Hatchback,"40,000",Automatic,1,1st Owner,Maruti,Maruti Wagon R,2016,...,4.6 metres,Ventilated Disc,Drum,152 kmph,18.6 Seconds,Tubeless Tyres,NaN,5,180-liters,Jaipur
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,0,Petrol,Hatchback,"1,20,000",Manual,1,1st Owner,Chevrolet,Chevrolet Beat,2011,...,4.85metres,Disc,Drum,NaN,NaN,"Tubeless,Radial",14,5,170-litres,Jaipur
1116,0,Petrol,Hatchback,"70,000",Manual,1,1st Owner,Maruti,Maruti Alto,2007,...,4.6m,Disc,Drum,137km/hr,17.7 seconds,"Tubeless,Radial",12,5,NaN,Jaipur
1117,0,Petrol,SUV,"20,000",Manual,1,1st Owner,Renault,Renault Kiger,2022,...,NaN,Disc,Drum,NaN,NaN,"Tubeless, Radial",16,5,405,Jaipur
1118,0,Petrol,Hatchback,"40,000",Manual,1,1st Owner,Maruti,Maruti Alto,2009,...,4.6m,Disc,Drum,137km/hr,17.7 seconds,"Tubeless,Radial",12,5,NaN,Jaipur
1119,0,Petrol,Hatchback,"80,000",Manual,1,1st Owner,Maruti,Maruti Baleno,2018,...,4.9 meters,Disc,Drum,180 Kmph,12.36 seconds,"Tubeless,Radial",NaN,5,339-litres,Jaipur

Hyderabad_cars

In [155]:
hyderabad_cars.drop('car_links',axis=1,inplace=True)

In [156]:
#parase entire table
hyderabad_cars=parse_json_column(hyderabad_cars,hyderabad_cars.columns)

In [157]:
new_car_details_hd=pd.json_normalize(hyderabad_cars['new_car_detail'])
new_car_details_hd

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText.imgUrl,trendingText.heading,trendingText.desc
0,0,Petrol,Hatchback,"20,000",Automatic,1,1st Owner,Volkswagen,Volkswagen Polo,2022,7746,1.0 TSI Highline Plus AT,â‚¹ 10.44 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1,0,Petrol,Hatchback,"85,582",Manual,2,2nd Owner,Hyundai,Hyundai EON,2014,1502,Era Plus,â‚¹ 2.60 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
2,0,Petrol,SUV,"10,000",Manual,1,1st Owner,Hyundai,Hyundai Venue,2023,9153,S BSVI,â‚¹ 9.55 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
3,0,Petrol,Hatchback,"50,750",Manual,1,1st Owner,Maruti,Maruti Baleno,2017,3970,1.2 Alpha,â‚¹ 6.71 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
4,0,Petrol,SUV,"10,000",Automatic,1,1st Owner,Mahindra,Mahindra Thar,2022,8074,LX 4-Str Hard Top AT BSVI,â‚¹ 19 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1478,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Mahindra,Mahindra XUV500,2013,3823,W8 2WD,â‚¹ 7 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1479,0,Diesel,Sedan,"50,000",Automatic,1,1st Owner,Jaguar,Jaguar XF,2014,5007,3.0 Litre S Premium Luxury,â‚¹ 20 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1480,0,Diesel,Sedan,"1,20,000",Automatic,3,3rd Owner,BMW,BMW 5 Series,2018,250,520d Luxury Line,â‚¹ 35 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1481,0,Diesel,SUV,"50,000",Automatic,2,2nd Owner,Tata,Tata Nexon,2019,6500,1.5 Revotorq XMA,â‚¹ 8.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1482,0,Diesel,MUV,"1,00,000",Manual,1,1st Owner,Toyota,Toyota Innova,2015,2294,2.5 ZX Diesel 7 Seater,â‚¹ 15 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days

In [158]:
new_car_overview_hd=pd.json_normalize(hyderabad_cars['new_car_overview'])
new_car_overview_hd

,heading,top,bottomData
0,Car overview,"[{'key': 'Registration Year', 'value': '2022',...",None
1,Car overview,"[{'key': 'Registration Year', 'value': 'Oct 20...",None
2,Car overview,"[{'key': 'Registration Year', 'value': '2023',...",None
3,Car overview,"[{'key': 'Registration Year', 'value': 'Mar 20...",None
4,Car overview,"[{'key': 'Registration Year', 'value': '2022',...",None
...,...,...,...
1478,Car overview,"[{'key': 'Registration Year', 'value': '2013',...",None
1479,Car overview,"[{'key': 'Registration Year', 'value': '2014',...",None
1480,Car overview,"[{'key': 'Registration Year', 'value': '2018',...",None
1481,Car overview,"[{'key': 'Registration Year', 'value': '2019',...",None
1482,Car overview,"[{'key': 'Registration Year', 'value': '2015',...",None

In [160]:
new_car_overview_hd.drop('bottomData',axis=1,inplace=True)

In [163]:
new_car_overview_hd_top=new_car_overview_hd['top'].apply(list_to_dict)
new_car_overview_hd_top=pd.json_normalize(new_car_overview_hd_top)
new_car_overview_hd_top

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,2022,Third Party insurance,Petrol,5 Seats,"20,000 Kms",TS04,First Owner,999 cc,Automatic,2022.0
1,Oct 2014,Third Party insurance,Petrol,5 Seats,"85,582 Kms",TS09,Second Owner,814 cc,Manual,2014.0
2,2023,Third Party insurance,Petrol,5 Seats,"10,000 Kms",NaN,First Owner,1197 cc,Manual,2023.0
3,Mar 2017,Third Party insurance,Petrol,5 Seats,"50,750 Kms",TS07,First Owner,1197 cc,Manual,2017.0
4,2022,Third Party insurance,Petrol,4 Seats,"10,000 Kms",NaN,First Owner,1997 cc,Automatic,2022.0
...,...,...,...,...,...,...,...,...,...,...
1478,2013,Third Party insurance,Diesel,7 Seats,"60,000 Kms",TS09,First Owner,2179 cc,Manual,2013.0
1479,2014,Third Party insurance,Diesel,5 Seats,"50,000 Kms",NaN,First Owner,2993 cc,Automatic,2014.0
1480,2018,Third Party insurance,Diesel,5 Seats,"1,20,000 Kms",TS09,Third Owner,1995 cc,Automatic,2018.0
1481,2019,Third Party insurance,Diesel,5 Seats,"50,000 Kms",TS08,Second Owner,1497 cc,Automatic,2019.0
1482,2015,Third Party insurance,Diesel,7 Seats,"1,00,000 Kms",NaN,First Owner,2494 cc,Manual,2015.0

In [164]:
new_car_specs_hd=pd.json_normalize(hyderabad_cars['new_car_specs'])
new_car_specs_hd.drop('commonIcon',axis=1,inplace=True)
new_car_specs_hd

,heading,top,data
0,Specifications,"[{'key': 'Mileage', 'value': '16.47 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe..."
1,Specifications,"[{'key': 'Mileage', 'value': '21.1 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe..."
2,Specifications,"[{'key': 'Engine', 'value': '1197 CC'}, {'key'...","[{'heading': 'Engine and Transmission', 'subHe..."
3,Specifications,"[{'key': 'Mileage', 'value': '21.4 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe..."
4,Specifications,"[{'key': 'Engine', 'value': '1997 CC'}, {'key'...","[{'heading': 'Engine and Transmission', 'subHe..."
...,...,...,...
1478,Specifications,"[{'key': 'Mileage', 'value': '15.1 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe..."
1479,Specifications,"[{'key': 'Mileage', 'value': '14.74 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe..."
1480,Specifications,"[{'key': 'Mileage', 'value': '20.37 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe..."
1481,Specifications,"[{'key': 'Mileage', 'value': '21.5 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe..."
1482,Specifications,"[{'key': 'Mileage', 'value': '12.99 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe..."

In [165]:
new_car_specs_hd_top=new_car_specs_hd['top'].apply(list_to_dict)
new_car_specs_hd_top=pd.json_normalize(new_car_specs_hd_top)
new_car_specs_hd_top

         Mileage   Engine  Max Power   Torque Wheel Size Seats
0     16.47 kmpl   999 CC  108.62bhp    175nm        R16     5
1      21.1 kmpl   814 CC    55.2bhp   74.5Nm        NaN     5
2            NaN  1197 CC   81.80bhp  113.8Nm        NaN     5
3      21.4 kmpl  1197 CC    83.1bhp    115Nm         16     5
4            NaN  1997 CC     150bhp    320Nm         18     4
...          ...      ...        ...      ...        ...   ...
1478   15.1 kmpl  2179 CC     140bhp    330Nm         17     7
1479  14.74 kmpl  2993 CC   270.9bhp    600Nm         20     5
1480  20.37 kmpl  1995 CC  187.74bhp    400Nm        R18     5
1481   21.5 kmpl  1497 CC   108.5bhp    260Nm        NaN     5
1482  12.99 kmpl  2494 CC   100.6bhp    200Nm         15     7

[1483 rows x 6 columns]

In [166]:
new_car_specs_hd_data=pd.json_normalize(new_car_specs_hd['data'])
new_car_specs_hd_data

,0,1,2
0,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
2,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
3,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
4,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
...,...,...,...
1478,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1479,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1480,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1481,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1482,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."

In [167]:
new_car_specs_hd_data_0=pd.json_normalize(new_car_specs_hd_data[0])
new_car_specs_hd_data_0=new_car_specs_hd_data_0['list'].apply(list_to_dict)
new_car_specs_hd_data_0=pd.json_normalize(new_car_specs_hd_data_0)
new_car_specs_hd_data_0

,Color,Engine Type,Displacement,Max Power,Max Torque,No of Cylinder,Values per Cylinder,Value Configuration,Fuel Suppy System,BoreX Stroke,Compression Ratio,Turbo Charger,Super Charger,Seating Capacity,Steering Type,Tyre Type,Alloy Wheel Size,No Door Numbers
0,Others,1.0L TSI Petrol,999,108.62bhp@5000-5500rpm,175nm@1750-4000rpm,3.0,4.0,DOHC,TSI,74.5x76.4 mm,10.5:1,Yes,No,NaN,NaN,NaN,NaN,NaN
1,Red,Petrol Engine,814,55.2bhp@5500rpm,74.5Nm@4000rpm,3.0,3.0,SOHC,MPFI,NaN,NaN,No,No,NaN,NaN,NaN,NaN,NaN
2,Others,1.2 Kappa Petrol,1197,81.80bhp@6000rpm,113.8Nm@4000rpm,4.0,4.0,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN
3,Red,VVT Petrol Engine,1197,83.1bhp@6000rpm,115Nm@4000rpm,4.0,4.0,DOHC,MPFI,NaN,NaN,No,No,NaN,NaN,NaN,NaN,NaN
4,Others,mStallion 150 TGDi Engine,1997,150bhp@5000rpm,320Nm@1500-3000rpm,4.0,4.0,NaN,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1478,Others,mHawk Diesel Engine,2179,140bhp@3750rpm,330Nm@1600-2800rpm,4.0,4.0,DOHC,Direct Injection,NaN,NaN,Yes,No,NaN,NaN,NaN,NaN,NaN
1479,Blue,Diesel S Engine,2993,270.9bhp@4000rpm,600Nm@2000rpm,6.0,4.0,DOHC,Direct Injection,NaN,NaN,Yes,No,NaN,NaN,NaN,NaN,NaN
1480,Blue,TwinPower Turbo Inline 4 Cylinder Engine,1995,187.74bhp@4000rpm,400Nm@1750-2500rpm,4.0,4.0,NaN,CRDi,NaN,NaN,Twin,No,NaN,NaN,NaN,NaN,NaN
1481,Others,"Revotorq, 1.5L Turbocharged engine",1497,108.5bhp@3750rpm,260Nm@1500-2750rpm,4.0,4.0,DOHC,CDI,76x82.5,NaN,Yes,No,NaN,NaN,NaN,NaN,NaN
1482,Others,2KD-FTV Diesel Engine,2494,100.6bhp@3600rpm,200Nm@1200-3600rpm,4.0,4.0,DOHC,CRDi,NaN,NaN,Yes,No,NaN,NaN,NaN,NaN,NaN

In [168]:
new_car_specs_hd_data_1=pd.json_normalize(new_car_specs_hd_data[1])
new_car_specs_hd_data_1=new_car_specs_hd_data_1['list'].apply(list_to_dict)
new_car_specs_hd_data_1=pd.json_normalize(new_car_specs_hd_data_1)
new_car_specs_hd_data_1

,Length,Width,Height,Wheel Base,Front Tread,Rear Tread,Kerb Weight,Gross Weight,Ground Clearance Unladen,Seating Capacity,Steering Type,Tyre Type,Alloy Wheel Size,No Door Numbers
0,3971mm,1682mm,1469mm,2470mm,1457mm,1500mm,1106,1570,NaN,NaN,NaN,NaN,NaN,NaN
1,3495mm,1550mm,1500mm,2380mm,1386mm,1368mm,880,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3995mm,1770mm,1617mm,2500mm,NaN,NaN,1106,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3995mm,1745mm,1510mm,2520mm,1505mm,1515mm,890Kg,1340kg,NaN,NaN,NaN,NaN,NaN,NaN
4,3985mm,1855mm,1844mm,2450mm,1520mm,1520mm,1825,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1478,4585mm,1890mm,1785mm,2700mm,NaN,NaN,1940,2450kg,NaN,NaN,NaN,NaN,NaN,NaN
1479,4961mm,1877mm,1460mm,2909mm,1559mm,1605mm,1780kg,2360kg,NaN,NaN,NaN,NaN,NaN,NaN
1480,4936mm,2126mm,1466mm,2975mm,1605mm,1630mm,1660,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1481,3994mm,1811mm,1607mm,2498mm,1540 mm,1530 mm,1305Kg,NaN,209 mm,NaN,NaN,NaN,NaN,NaN
1482,4585mm,1765mm,1760mm,2750mm,1510mm,1510mm,1700kg,2300kg,NaN,NaN,NaN,NaN,NaN,NaN

In [169]:
new_car_specs_hd_data_2=pd.json_normalize(new_car_specs_hd_data[2])
new_car_specs_hd_data_2=new_car_specs_hd_data_2['list'].apply(list_to_dict)
new_car_specs_hd_data_2=pd.json_normalize(new_car_specs_hd_data_2)
new_car_specs_hd_data_2

,Gear Box,Drive Type,Seating Capacity,Steering Type,Turning Radius,Front Brake Type,Rear Brake Type,Tyre Type,Alloy Wheel Size,No Door Numbers,Cargo Volumn,Top Speed,Acceleration
0,6 Speed,FWD,5,Electronic,4.9,Disc,Drum,"Tubeless,Radial",R16,5,280,NaN,NaN
1,5 Speed,FWD,5,Power,4.6 metres,Disc,Drum,Tubeless,NaN,5,215-litres,135 Kmph,19 Seconds
2,5-Speed,NaN,5,Power,NaN,Disc,Drum,"Tubeless, Radial",NaN,5,NaN,NaN,NaN
3,5 Speed,FWD,5,Power,4.9 meters,Disc,Drum,"Tubeless,Radial",16,5,339-litres,180 Kmph,12.36 seconds
4,6 Speed,4X4,4,Power,NaN,Disc,Drum,"Radial, Tubeless",18,3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1478,6 Speed,FWD,7,Power,5.6 metres,Disc & Caliper Type,Disc & Caliper Type,"Tubeless,Radial",17,5,NaN,175 kmph,12.5 Seconds
1479,8 Speed,RWD,5,Power,5.75 metres,Disc,Disc,"Tubeless,Radial",20,4,540-litres,250 Kmph,6.4 Seconds
1480,8-Speed Steptronic,RWD,5,Power,5.6,Ventilated Disc,Ventilated Disc,"Tubeless, Runflat",R18,4,520-litres,235kmph,7.5
1481,6 Speed,FWD,5,Power,5.1m,Disc,Drum,Tubeless Radial Tyres,NaN,5,350,154.19 kmph,13.25 Seconds
1482,5 Speed,RWD,7,Power,5.4 metres,Ventilated Disc,Drum,"Tubeless,Radial",15,5,300-litres,155 Kmph,13.3 Seconds

In [170]:
hyderabad_cars=pd.concat([new_car_details_hd,new_car_overview_hd_top,new_car_specs_hd_top,new_car_specs_hd_data_0,new_car_specs_hd_data_1,new_car_specs_hd_data_2])

In [171]:
hyderabad_cars['City']='Hyderabad'

In [172]:
hyderabad_cars.to_csv(r"C:\Users\prave\OneDrive\Documents\GUVI\car dheko\hyderabad_cars.csv",index=False)
hyderabad_cars

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Ground Clearance Unladen,Gear Box,Drive Type,Turning Radius,Front Brake Type,Rear Brake Type,Cargo Volumn,Top Speed,Acceleration,City
0,0.0,Petrol,Hatchback,"20,000",Automatic,1.0,1st Owner,Volkswagen,Volkswagen Polo,2022.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hyderabad
1,0.0,Petrol,Hatchback,"85,582",Manual,2.0,2nd Owner,Hyundai,Hyundai EON,2014.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hyderabad
2,0.0,Petrol,SUV,"10,000",Manual,1.0,1st Owner,Hyundai,Hyundai Venue,2023.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hyderabad
3,0.0,Petrol,Hatchback,"50,750",Manual,1.0,1st Owner,Maruti,Maruti Baleno,2017.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hyderabad
4,0.0,Petrol,SUV,"10,000",Automatic,1.0,1st Owner,Mahindra,Mahindra Thar,2022.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hyderabad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6 Speed,FWD,5.6 metres,Disc & Caliper Type,Disc & Caliper Type,NaN,175 kmph,12.5 Seconds,Hyderabad
1479,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8 Speed,RWD,5.75 metres,Disc,Disc,540-litres,250 Kmph,6.4 Seconds,Hyderabad
1480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8-Speed Steptronic,RWD,5.6,Ventilated Disc,Ventilated Disc,520-litres,235kmph,7.5,Hyderabad
1481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6 Speed,FWD,5.1m,Disc,Drum,350,154.19 kmph,13.25 Seconds,Hyderabad
1482,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5 Speed,RWD,5.4 metres,Ventilated Disc,Drum,300-litres,155 Kmph,13.3 Seconds,Hyderabad

Delhi Cars

In [174]:
delhi_cars.drop('car_links',axis=1,inplace=True)

In [175]:
#parase entire table
delhi_cars=parse_json_column(delhi_cars,delhi_cars.columns)

In [176]:
new_car_details_dl=pd.json_normalize(delhi_cars['new_car_detail'])
new_car_details_dl

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText.imgUrl,trendingText.heading,trendingText.desc
0,0,Diesel,SUV,"10,000",Automatic,1,1st Owner,Kia,Kia Seltos,2022,7121,GTX Plus Diesel AT,â‚¹ 19 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1,0,Petrol,SUV,"57,437",Manual,2,2nd Owner,Hyundai,Hyundai Creta,2016,1449,1.6 VTVT S,â‚¹ 7.62 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
2,0,Petrol,SUV,"8,000",Automatic,1,1st Owner,Mercedes-Benz,Mercedes-Benz GLC,2020,6837,200,â‚¹ 56 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
3,0,Petrol,Hatchback,"28,151",Manual,2,2nd Owner,Maruti,Maruti Swift,2018,10403,VXI,â‚¹ 5.23 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
4,0,Petrol,SUV,"60,000",Manual,1,1st Owner,Hyundai,Hyundai Creta,2017,5362,1.6 VTVT E Plus,â‚¹ 7.65 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1480,0,Petrol,Sedan,"60,000",Automatic,1,1st Owner,Honda,Honda City,2019,5627,i-VTEC CVT V,â‚¹ 9 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1481,0,Petrol,SUV,"20,000",Manual,1,1st Owner,Kia,Kia Sonet,2021,8000,HTK Plus BSVI,â‚¹ 9.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1482,0,Petrol,Sedan,"60,000",Manual,1,1st Owner,Hyundai,Hyundai Verna,2011,1832,1.6 SX VTVT,â‚¹ 4.18 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1483,0,Diesel,SUV,"38,000",Manual,1,1st Owner,Hyundai,Hyundai Creta,2019,6440,1.6 SX Option Diesel,â‚¹ 11.95 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1484,0,Diesel,SUV,"7,000",Automatic,0,0th Owner,MG,MG Gloster,2023,9298,Savvy 6 Str 4x4,â‚¹ 46.40 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days

In [177]:
new_car_overview_dl=pd.json_normalize(delhi_cars['new_car_overview'])
new_car_overview_dl

,heading,top,bottomData
0,Car overview,"[{'key': 'Registration Year', 'value': '2022',...",None
1,Car overview,"[{'key': 'Registration Year', 'value': 'May 20...",None
2,Car overview,"[{'key': 'Registration Year', 'value': 'Dec 20...",None
3,Car overview,"[{'key': 'Registration Year', 'value': 'Jan 20...",None
4,Car overview,"[{'key': 'Registration Year', 'value': '2017',...",None
...,...,...,...
1480,Car overview,"[{'key': 'Registration Year', 'value': '2019',...",None
1481,Car overview,"[{'key': 'Registration Year', 'value': '2021',...",None
1482,Car overview,"[{'key': 'Registration Year', 'value': '2011',...",None
1483,Car overview,"[{'key': 'Registration Year', 'value': 'Oct 20...",None
1484,Car overview,"[{'key': 'Insurance Validity', 'value': 'Third...",None

In [178]:
new_car_overview_dl.drop('bottomData',axis=1,inplace=True)

In [179]:
new_car_overview_dl_top=new_car_overview_dl['top'].apply(list_to_dict)
new_car_overview_dl_top=pd.json_normalize(new_car_overview_dl_top)
new_car_overview_dl_top

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,Ownership,Engine Displacement,Transmission,Year of Manufacture,RTO
0,2022,Third Party insurance,Diesel,5 Seats,"10,000 Kms",First Owner,1493 cc,Automatic,2022,NaN
1,May 2016,Zero Dep,Petrol,5 Seats,"57,437 Kms",Second Owner,1591 cc,Manual,2016,HR51
2,Dec 2020,Comprehensive,Petrol,5 Seats,"8,000 Kms",First Owner,1991 cc,Automatic,2020,DL01
3,Jan 2019,Comprehensive,Petrol,5 Seats,"28,151 Kms",Second Owner,1197 cc,Manual,2018,DL4C
4,2017,Third Party insurance,Petrol,5 Seats,"60,000 Kms",First Owner,1591 cc,Manual,2017,DL8C
...,...,...,...,...,...,...,...,...,...,...
1480,2019,Third Party insurance,Petrol,5 Seats,"60,000 Kms",First Owner,1497 cc,Automatic,2019,DL4C
1481,2021,Third Party insurance,Petrol,5 Seats,"20,000 Kms",First Owner,1197 cc,Manual,2021,NaN
1482,2011,Third Party insurance,Petrol,5 Seats,"60,000 Kms",First Owner,1591 cc,Manual,2011,NaN
1483,Oct 2019,Third Party insurance,Diesel,5 Seats,"38,000 Kms",First Owner,1582 cc,Manual,2019,HR26
1484,NaN,Third Party insurance,Diesel,6 Seats,"7,000 Kms",NaN,1996 cc,Automatic,2023,NaN

In [180]:
new_car_specs_dl=pd.json_normalize(delhi_cars['new_car_specs'])
new_car_specs_dl.drop('commonIcon',axis=1,inplace=True)
new_car_specs_dl

,heading,top,data
0,Specifications,"[{'key': 'Mileage', 'value': '18 kmpl'}, {'key...","[{'heading': 'Engine and Transmission', 'subHe..."
1,Specifications,"[{'key': 'Mileage', 'value': '15.29 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe..."
2,Specifications,"[{'key': 'Mileage', 'value': '12.74 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe..."
3,Specifications,"[{'key': 'Mileage', 'value': '22.38 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe..."
4,Specifications,"[{'key': 'Mileage', 'value': '15.29 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe..."
...,...,...,...
1480,Specifications,"[{'key': 'Mileage', 'value': '18 kmpl'}, {'key...","[{'heading': 'Engine and Transmission', 'subHe..."
1481,Specifications,"[{'key': 'Mileage', 'value': '18.4 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe..."
1482,Specifications,"[{'key': 'Mileage', 'value': '17.01 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe..."
1483,Specifications,"[{'key': 'Mileage', 'value': '20.5 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe..."
1484,Specifications,"[{'key': 'Mileage', 'value': '12.04 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe..."

In [181]:
new_car_specs_dl_top=new_car_specs_dl['top'].apply(list_to_dict)
new_car_specs_dl_top=pd.json_normalize(new_car_specs_dl_top)
new_car_specs_dl_top

         Mileage   Engine  Max Power    Torque Wheel Size Seats
0        18 kmpl  1493 CC  113.43bhp     250Nm         17     5
1     15.29 kmpl  1591 CC   121.3bhp     151Nm        NaN     5
2     12.74 kmpl  1991 CC     197bhp     320nm         19     5
3     22.38 kmpl  1197 CC   88.50bhp     113Nm        NaN     5
4     15.29 kmpl  1591 CC   121.3bhp     151Nm        NaN     5
...          ...      ...        ...       ...        ...   ...
1480     18 kmpl  1497 CC   117.6bhp     145Nm         15     5
1481   18.4 kmpl  1197 CC   81.86bhp     115Nm        NaN     5
1482  17.01 kmpl  1591 CC   121.3bhp   154.9Nm         16     5
1483   20.5 kmpl  1582 CC   126.2bhp  259.87NM         17     5
1484  12.04 kmpl  1996 CC  212.55bhp   478.5Nm         19     6

[1485 rows x 6 columns]

In [182]:
new_car_specs_dl_data=pd.json_normalize(new_car_specs_dl['data'])
new_car_specs_dl_data

,0,1,2
0,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
2,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
3,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
4,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
...,...,...,...
1480,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1481,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1482,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1483,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1484,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."

In [186]:
new_car_specs_dl_data_0=pd.json_normalize(new_car_specs_dl_data[0])
new_car_specs_dl_data_0=new_car_specs_dl_data_0['list'].apply(list_to_dict)
new_car_specs_dl_data_0=pd.json_normalize(new_car_specs_dl_data_0)
new_car_specs_dl_data_0

,Color,Engine Type,Displacement,Max Power,Max Torque,No of Cylinder,Values per Cylinder,Fuel Suppy System,Turbo Charger,Value Configuration,Super Charger,BoreX Stroke,Compression Ratio
0,Gray,1.5 L CRDi VGT,1493,113.43bhp@4000rpm,250Nm@1500-2750rpm,4.0,4.0,CRDi,Yes,NaN,NaN,NaN,NaN
1,White,VTVT Petrol Engine,1591,121.3bhp@6400rpm,151Nm@4850rpm,4.0,4.0,MPFI,No,DOHC,No,NaN,NaN
2,Grey,M 264 petrol engine,1991,197bhp@5500-6100rpm,320nm@1650-4000rpm,4.0,4.0,EFI,No,NaN,NaN,NaN,NaN
3,Silver,K Series Dual jet,1197,88.50bhp@6000rpm,113Nm@4400rpm,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
4,White,VTVT Petrol Engine,1591,121.3bhp@6400rpm,151Nm@4850rpm,4.0,4.0,MPFI,No,DOHC,No,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1480,Others,i VTEC Engine,1497,117.6bhp@6600rpm,145Nm@4600rpm,4.0,4.0,PGM-Fi,No,SOHC,No,73.0 X 89.4 mm,10.3:1
1481,Others,SMARTSTREAM G1.2,1197,81.86bhp@6000rpm,115Nm@4200rpm,4.0,4.0,MPI,No,NaN,NaN,NaN,NaN
1482,Others,VTVT Petrol Engine,1591,121.3bhp@6300rpm,154.9Nm@4200rpm,4.0,4.0,MPFI,No,DOHC,No,77.0mm X 85.44mm,10.5;1
1483,Silver,U2 CRDI VGT Engine,1582,126.2bhp@4000rpm,259.87NM@1500-3000rpm,4.0,4.0,CRDi,Yes,DOHC,No,NaN,NaN
1484,Grey,DIESEL 2.0L TWIN TURBO,1996,212.55bhp@4000rpm,478.5Nm@1500-2400rpm,4.0,4.0,NaN,Twin,NaN,NaN,NaN,NaN

In [187]:
new_car_specs_dl_data_1=pd.json_normalize(new_car_specs_dl_data[1])
new_car_specs_dl_data_1=new_car_specs_dl_data_1['list'].apply(list_to_dict)
new_car_specs_dl_data_1=pd.json_normalize(new_car_specs_dl_data_1)
new_car_specs_dl_data_1

,Length,Width,Height,Wheel Base,Kerb Weight,Gross Weight,Front Tread,Rear Tread,Ground Clearance Unladen,Gear Box,...,Seating Capacity,Steering Type,Turning Radius,Front Brake Type,Rear Brake Type,Top Speed,Acceleration,Tyre Type,Alloy Wheel Size,No Door Numbers
0,4315mm,1800mm,1645mm,2610mm,1540,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4270mm,1780mm,1630mm,2590mm,"1,310",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4658mm,1890mm,1644mm,2873mm,1585,2360kg,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3845mm,1735,1530,2450,875-905,1335,1530,1530,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4270mm,1780mm,1630mm,2590mm,"1,300",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1480,4440mm,1695mm,1495mm,2600mm,1080kg,1455kg,1490mm,1480mm,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1481,3995mm,1790,1642,2500,1192,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1482,4375mm,1700mm,1475mm,2570mm,1260,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1483,4270mm,1780mm,1665mm,2590mm,1340,NaN,NaN,NaN,190mm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1484,4985mm,1926mm,1867mm,2950mm,2600,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [189]:
new_car_specs_dl_data_2=pd.json_normalize(new_car_specs_dl_data[2])
new_car_specs_dl_data_2=new_car_specs_dl_data_2['list'].apply(list_to_dict)
new_car_specs_dl_data_2=pd.json_normalize(new_car_specs_dl_data_2)
new_car_specs_dl_data_2

,Gear Box,Drive Type,Seating Capacity,Steering Type,Front Brake Type,Rear Brake Type,Tyre Type,Alloy Wheel Size,No Door Numbers,Cargo Volumn,Turning Radius,Top Speed,Acceleration
0,6-Speed,FWD,5,Electric,Disc,Disc,"Tubeless, Radial",17,5,433,NaN,NaN,NaN
1,6 Speed,FWD,5,Power,Disc,Drum,Tubeless,NaN,5,400-litres,5.3 metres,165 Kmph,10.5 Seconds
2,9 speed Tronic,AWD,5,Power,Disc,Disc,"Tubeless,Radial",19,5,550-litres,NaN,217 Kmph,NaN
3,5-Speed,NaN,5,Electric,Disc,Drum,"Radial, Tubeless",NaN,5,268,4.8,NaN,NaN
4,6 Speed,FWD,5,Power,Disc,Drum,Tubeless,NaN,5,400-litres,5.3 metres,165 Kmph,10.5 Seconds
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1480,CVT,FWD,5,Power,Ventilated Disc,Drum,"Tubeless,Radial",15,4,510,5.3 metres,195 Kmph,10 Seconds
1481,5-Speed,FWD,5,Electric,Disc,Drum,"Tubeless, Radial",NaN,5,392,NaN,NaN,NaN
1482,5 Speed,FWD,5,Power,Disc,Drum,"Tubeless,Radial",16,4,465-litre,5.2 metres,196km/hr,10.5 Seconds
1483,6 Speed,FWD,5,Power,Disc,Drum,Tubeless,17,5,400,5.3 metres,160.58kmph,10.83 s
1484,8 Speed,4x4,6,Electric,Disc,Disc,"Tubeless, Radial",19,5,NaN,NaN,NaN,NaN

In [199]:
delhi_cars=pd.concat([new_car_details_dl,new_car_overview_dl_top,new_car_specs_dl_top,new_car_specs_dl_data_0,new_car_specs_dl_data_1,new_car_specs_dl_data_2])

In [200]:
delhi_cars['City']='Delhi'

In [202]:
delhi_cars.to_csv(r"C:\Users\prave\OneDrive\Documents\GUVI\car dheko\delhi_cars.csv",index=False)
delhi_cars

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Turning Radius,Front Brake Type,Rear Brake Type,Top Speed,Acceleration,Tyre Type,Alloy Wheel Size,No Door Numbers,Cargo Volumn,City
0,0.0,Diesel,SUV,"10,000",Automatic,1.0,1st Owner,Kia,Kia Seltos,2022.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Delhi
1,0.0,Petrol,SUV,"57,437",Manual,2.0,2nd Owner,Hyundai,Hyundai Creta,2016.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Delhi
2,0.0,Petrol,SUV,"8,000",Automatic,1.0,1st Owner,Mercedes-Benz,Mercedes-Benz GLC,2020.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Delhi
3,0.0,Petrol,Hatchback,"28,151",Manual,2.0,2nd Owner,Maruti,Maruti Swift,2018.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Delhi
4,0.0,Petrol,SUV,"60,000",Manual,1.0,1st Owner,Hyundai,Hyundai Creta,2017.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Delhi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.3 metres,Ventilated Disc,Drum,195 Kmph,10 Seconds,"Tubeless,Radial",15,4,510,Delhi
1481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Disc,Drum,NaN,NaN,"Tubeless, Radial",NaN,5,392,Delhi
1482,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.2 metres,Disc,Drum,196km/hr,10.5 Seconds,"Tubeless,Radial",16,4,465-litre,Delhi
1483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.3 metres,Disc,Drum,160.58kmph,10.83 s,Tubeless,17,5,400,Delhi
1484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Disc,Disc,NaN,NaN,"Tubeless, Radial",19,5,NaN,Delhi

Chennai Cars

In [190]:
chennai_cars.drop('car_links',axis=1,inplace=True)

In [191]:
#parase entire table
chennai_cars=parse_json_column(chennai_cars,chennai_cars.columns)

In [192]:
new_car_details_CSK=pd.json_normalize(chennai_cars['new_car_detail'])
new_car_details_CSK

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText.imgUrl,trendingText.heading,trendingText.desc
0,0,Petrol,SUV,"20,000",Automatic,1,1st Owner,Kia,Kia Sonet,2022,8654,Turbo DCT Anniversary Edition,â‚¹ 11.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1,0,Petrol,Minivans,"20,687",Manual,1,1st Owner,Maruti,Maruti Eeco,2015,4025,7 Seater Standard BSIV,â‚¹ 4.15 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
2,0,Petrol,SUV,"30,000",Manual,1,1st Owner,Nissan,Nissan Magnite,2021,8135,Turbo XV Premium BSVI,â‚¹ 7.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
3,0,Petrol,Hatchback,"59,247",Manual,1,1st Owner,Hyundai,Hyundai i10,2015,1579,Sportz 1.1L,â‚¹ 3.98 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
4,0,Petrol,Hatchback,"50,000",Manual,1,1st Owner,Honda,Honda Jazz,2015,1341,1.2 VX i VTEC,â‚¹ 5.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1414,0,Petrol,Hatchback,"42,891",Automatic,1,1st Owner,Maruti,Maruti Swift,2018,6190,AMT VXI,â‚¹ 6.20 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1415,0,Diesel,SUV,"59,100",Manual,1,1st Owner,Renault,Renault Duster,2018,5050,85PS Diesel RxZ,â‚¹ 8.90 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1416,0,Petrol,SUV,"55,913",Automatic,1,1st Owner,Tata,Tata Nexon,2018,6364,1.2 Revotron XZA Plus,â‚¹ 8.01 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1417,0,Diesel,SUV,"65,000",Automatic,1,1st Owner,Volkswagen,Volkswagen Tiguan,2017,5849,2.0 TDI Highline,â‚¹ 20.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1418,0,Diesel,Sedan,"60,000",Automatic,1,1st Owner,BMW,BMW 3 Series GT,2019,6630,Sport,â‚¹ 35.75 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days

In [193]:
new_car_overview_CSK=pd.json_normalize(chennai_cars['new_car_overview'])
new_car_overview_CSK

,heading,top,bottomData
0,Car overview,"[{'key': 'Registration Year', 'value': '2022',...",None
1,Car overview,"[{'key': 'Registration Year', 'value': 'Feb 20...",None
2,Car overview,"[{'key': 'Registration Year', 'value': '2021',...",None
3,Car overview,"[{'key': 'Registration Year', 'value': 'May 20...",None
4,Car overview,"[{'key': 'Registration Year', 'value': '2015',...",None
...,...,...,...
1414,Car overview,"[{'key': 'Registration Year', 'value': 'Jun 20...",None
1415,Car overview,"[{'key': 'Registration Year', 'value': 'Feb 20...",None
1416,Car overview,"[{'key': 'Registration Year', 'value': 'Aug 20...",None
1417,Car overview,"[{'key': 'Registration Year', 'value': 'Aug 20...",None
1418,Car overview,"[{'key': 'Registration Year', 'value': 'Oct 20...",None

In [194]:
new_car_overview_CSK.drop('bottomData',axis=1,inplace=True)

In [195]:
new_car_overview_CSK_top=new_car_overview_CSK['top'].apply(list_to_dict)
new_car_overview_CSK_top=pd.json_normalize(new_car_overview_CSK_top)
new_car_overview_CSK_top

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,2022,Third Party insurance,Petrol,5 Seats,"20,000 Kms",TN02,First Owner,998 cc,Automatic,2022
1,Feb 2015,Comprehensive,Petrol,7 Seats,"20,687 Kms",TN04,First Owner,1196 cc,Manual,2015
2,2021,Third Party insurance,Petrol,5 Seats,"30,000 Kms",TN22,First Owner,999 cc,Manual,2021
3,May 2015,Comprehensive,Petrol,5 Seats,"59,247 Kms",TN11,First Owner,1086 cc,Manual,2015
4,2015,Third Party insurance,Petrol,5 Seats,"50,000 Kms",KA03,First Owner,1199 cc,Manual,2015
...,...,...,...,...,...,...,...,...,...,...
1414,Jun 2018,Third Party insurance,Petrol,5 Seats,"42,891 Kms",TN09,First Owner,1197 cc,Automatic,2018
1415,Feb 2019,Third Party insurance,Diesel,5 Seats,"59,100 Kms",TN11,First Owner,1461 cc,Manual,2018
1416,Aug 2018,Not Available,Petrol,5 Seats,"55,913 Kms",TN11,First Owner,1198 cc,Automatic,2018
1417,Aug 2017,Comprehensive,Diesel,5 Seats,"65,000 Kms",TN22,First Owner,1968 cc,Automatic,2017
1418,Oct 2019,Comprehensive,Diesel,5 Seats,"60,000 Kms",TN87,First Owner,1995 cc,Automatic,2019

In [196]:
new_car_specs_CSK=pd.json_normalize(chennai_cars['new_car_specs'])
new_car_specs_CSK.drop('commonIcon',axis=1,inplace=True)
new_car_specs_CSK

,heading,top,data
0,Specifications,"[{'key': 'Engine', 'value': '998 CC'}, {'key':...","[{'heading': 'Engine and Transmission', 'subHe..."
1,Specifications,"[{'key': 'Mileage', 'value': '15.37 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe..."
2,Specifications,"[{'key': 'Mileage', 'value': '20 kmpl'}, {'key...","[{'heading': 'Engine and Transmission', 'subHe..."
3,Specifications,"[{'key': 'Mileage', 'value': '19.81 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe..."
4,Specifications,"[{'key': 'Mileage', 'value': '18.7 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe..."
...,...,...,...
1414,Specifications,"[{'key': 'Mileage', 'value': '22 kmpl'}, {'key...","[{'heading': 'Engine and Transmission', 'subHe..."
1415,Specifications,"[{'key': 'Mileage', 'value': '19.87 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe..."
1416,Specifications,"[{'key': 'Mileage', 'value': '17 kmpl'}, {'key...","[{'heading': 'Engine and Transmission', 'subHe..."
1417,Specifications,"[{'key': 'Mileage', 'value': '16.65 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe..."
1418,Specifications,"[{'key': 'Mileage', 'value': '21.76 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe..."

In [197]:
new_car_specs_CSK_top=new_car_specs_CSK['top'].apply(list_to_dict)
new_car_specs_CSK_top=pd.json_normalize(new_car_specs_CSK_top)
new_car_specs_CSK_top

       Engine  Max Power   Torque Wheel Size Seats     Mileage
0      998 CC  118.36bhp    172nm         16     5         NaN
1     1196 CC      73bhp    101Nm        NaN     7  15.37 kmpl
2      999 CC   98.63bhp    160Nm         16     5     20 kmpl
3     1086 CC   68.05bhp  99.04Nm        NaN     5  19.81 kmpl
4     1199 CC    88.7bhp    110Nm         15     5   18.7 kmpl
...       ...        ...      ...        ...   ...         ...
1414  1197 CC   81.80bhp    113Nm        NaN     5     22 kmpl
1415  1461 CC    83.8bhp    200Nm         16     5  19.87 kmpl
1416  1198 CC   108.5bhp    170Nm         16     5     17 kmpl
1417  1968 CC     141bhp    340Nm         18     5  16.65 kmpl
1418  1995 CC     188bhp    400Nm         18     5  21.76 kmpl

[1419 rows x 6 columns]

In [198]:
new_car_specs_CSK_data=pd.json_normalize(new_car_specs_CSK['data'])
new_car_specs_CSK_data

,0,1,2
0,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
2,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
3,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
4,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
...,...,...,...
1414,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1415,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1416,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1417,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1418,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."

In [203]:
new_car_specs_CSK_data_0=pd.json_normalize(new_car_specs_CSK_data[0])
new_car_specs_CSK_data_0=new_car_specs_CSK_data_0['list'].apply(list_to_dict)
new_car_specs_CSK_data_0=pd.json_normalize(new_car_specs_CSK_data_0)
new_car_specs_CSK_data_0

,Color,Engine Type,Displacement,Max Power,Max Torque,No of Cylinder,Values per Cylinder,Fuel Suppy System,Turbo Charger,Value Configuration,Compression Ratio,Super Charger,BoreX Stroke
0,Black,Smartstream G1.0 T - GDi,998,118.36bhp@6000rpm,172nm@1500-4000rpm,3.0,4.0,GDi,Yes,NaN,NaN,NaN,NaN
1,Grey,In-Line Engine,1196,73bhp@6000rpm,101Nm@3000rpm,4.0,4.0,MPFi,No,DOHC,9.9:1,No,NaN
2,Others,HRA0 1.0 TURBO PETROL,999,98.63bhp@5000rpm,160Nm@2800-3600rpm,3.0,4.0,MPFi,Yes,SOHC,NaN,No,72.2 x 81.3
3,Silver,IRDE2 Engine,1086,68.05bhp@5500rpm,99.04Nm@4500rpm,4.0,3.0,MPFI,No,SOHC,NaN,No,NaN
4,Others,i-VTEC Petrol Engine,1199,88.7bhp@6000rpm,110Nm@4800rpm,4.0,4.0,PGM - Fi,No,SOHC,NaN,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1414,Blue,VTVT Engine,1197,81.80bhp@6000rpm,113Nm@4200rpm,4.0,4.0,MPFi,No,NaN,NaN,No,NaN
1415,Orange,dCi THP Diesel Engine,1461,83.8bhp@3750rpm,200Nm@1750rpm,4.0,4.0,CRDi,Yes,DOHC,NaN,No,NaN
1416,White,Revotron 1.2L Turbocharged engine,1198,108.5bhp@5000rpm,170Nm@1750-4000rpm,3.0,4.0,MPFI,Yes,DOHC,NaN,No,77x85.8
1417,Grey,Common Rail Direct Injection,1968,141bhp@4000rpm,340Nm@1750-2750rpm,4.0,4.0,CRDI,Yes,DOHC,NaN,No,74.5 x 81 mm
1418,White,TwinPower Turbo 4-Cylinder Diesel Engine,1995,188bhp@4000rpm,400Nm@1750-2500rpm,4.0,4.0,CRDi,Yes,DOHC,NaN,No,NaN

In [204]:
new_car_specs_CSK_data_1=pd.json_normalize(new_car_specs_CSK_data[1])
new_car_specs_CSK_data_1=new_car_specs_CSK_data_1['list'].apply(list_to_dict)
new_car_specs_CSK_data_1=pd.json_normalize(new_car_specs_CSK_data_1)
new_car_specs_CSK_data_1

,Length,Width,Height,Wheel Base,Kerb Weight,Front Tread,Rear Tread,Gross Weight,Ground Clearance Unladen,Seating Capacity,Steering Type,Tyre Type,Alloy Wheel Size,No Door Numbers
0,3995mm,1790,1642,2500,1465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3675mm,1475mm,1800mm,2350mm,943kg,1280mm,1290mm,1540kg,NaN,NaN,NaN,NaN,NaN,NaN
2,3994mm,1758,1572,2500,1014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3585mm,1595mm,1550mm,2380mm,860kg,1400mm,1385mm,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3955mm,1694mm,1544mm,2530mm,1042kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1414,3840mm,1735mm,1530mm,2450mm,865Kg,1530mm,1530mm,1315kg,NaN,NaN,NaN,NaN,NaN,NaN
1415,4315mm,1822mm,1695mm,2673mm,1210,1560mm,1567mm,1777kg,NaN,NaN,NaN,NaN,NaN,NaN
1416,3994mm,1811mm,1607mm,2498mm,1252Kg,1540 mm,1530 mm,NaN,209 mm,NaN,NaN,NaN,NaN,NaN
1417,4486mm,1839mm,1672mm,2677mm,1720kg,1578mm,1568mm,2250kg,NaN,NaN,NaN,NaN,NaN,NaN
1418,4824mm,1828mm,1508mm,2920 mm,1720,1541 mm,1581 mm,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [205]:
new_car_specs_CSK_data_2=pd.json_normalize(new_car_specs_CSK_data[2])
new_car_specs_CSK_data_2=new_car_specs_CSK_data_2['list'].apply(list_to_dict)
new_car_specs_CSK_data_2=pd.json_normalize(new_car_specs_CSK_data_2)
new_car_specs_CSK_data_2

,Gear Box,Drive Type,Seating Capacity,Steering Type,Front Brake Type,Rear Brake Type,Tyre Type,Alloy Wheel Size,No Door Numbers,Cargo Volumn,Turning Radius,Top Speed,Acceleration
0,7-Speed DCT,FWD,5,Electric,Disc,Drum,"Tubeless, Radial",16,5,392,NaN,NaN,NaN
1,5 Speed,RWD,7,Manual,Ventilated Disc,Drum,Tubeless Tyres,NaN,5,540-liters,4.5 metres,145 Kmph,15.7 Seconds
2,5 Speed,NaN,5,Electronic,Disc,Drum,"Tubeless,Radial",16,5,336,5.0,NaN,11.7
3,5 Speed,FWD,5,Power,Ventilated Disc,Drum,Tubeless,NaN,5,225-litres,4.7 metres,165 Kmph,14.3 Seconds
4,5 Speed,FWD,5,Power,Disc,Drum,"Tubeless,Radial",15,5,354-litres,5.1 meters,172 Kmph,13.7 Seconds
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1414,5,NaN,5,Power,Disc,Drum,Tubeless,NaN,5,268-litres,4.8 Meters,NaN,NaN
1415,5 speed,FWD,5,Power,Disc,Drum,"Tubeless,Radial",16,5,475-litres,5.2 metres,156 Kmph,13.9 Seconds
1416,6 Speed,FWD,5,Power,Disc,Drum,Tubeless Radial Tyres,16,5,350,5.1m,154.19 kmph,NaN
1417,7 Speed,AWD,5,Electric,Disc,Disc,Tubeless Radial Tyres,18,5,615,5.75meters,NaN,NaN
1418,8 Speed,RWD,5,Power,Disc,Disc,Run-Flat,18,4,520,5.5 metres,226 Kmph,7.7 Seconds

In [206]:
chennai_cars=pd.concat([new_car_details_CSK,new_car_overview_CSK_top,new_car_specs_CSK_top,new_car_specs_CSK_data_0,new_car_specs_CSK_data_1,new_car_specs_CSK_data_2])

In [207]:
chennai_cars['City']='Chennai'

In [208]:
chennai_cars.to_csv(r"C:\Users\prave\OneDrive\Documents\GUVI\car dheko\chennai_cars.csv",index=True)
chennai_cars

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,No Door Numbers,Gear Box,Drive Type,Front Brake Type,Rear Brake Type,Cargo Volumn,Turning Radius,Top Speed,Acceleration,City
0,0.0,Petrol,SUV,"20,000",Automatic,1.0,1st Owner,Kia,Kia Sonet,2022.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Chennai
1,0.0,Petrol,Minivans,"20,687",Manual,1.0,1st Owner,Maruti,Maruti Eeco,2015.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Chennai
2,0.0,Petrol,SUV,"30,000",Manual,1.0,1st Owner,Nissan,Nissan Magnite,2021.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Chennai
3,0.0,Petrol,Hatchback,"59,247",Manual,1.0,1st Owner,Hyundai,Hyundai i10,2015.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Chennai
4,0.0,Petrol,Hatchback,"50,000",Manual,1.0,1st Owner,Honda,Honda Jazz,2015.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Chennai
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1414,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,5,NaN,Disc,Drum,268-litres,4.8 Meters,NaN,NaN,Chennai
1415,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,5 speed,FWD,Disc,Drum,475-litres,5.2 metres,156 Kmph,13.9 Seconds,Chennai
1416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,6 Speed,FWD,Disc,Drum,350,5.1m,154.19 kmph,NaN,Chennai
1417,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,7 Speed,AWD,Disc,Disc,615,5.75meters,NaN,NaN,Chennai
1418,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,8 Speed,RWD,Disc,Disc,520,5.5 metres,226 Kmph,7.7 Seconds,Chennai

Bangalore_cars

In [210]:
bangalore_cars.drop('car_links',axis=1,inplace=True)

In [211]:
#parase entire table
bangalore_cars=parse_json_column(bangalore_cars,bangalore_cars.columns)

In [212]:
new_car_details_bl=pd.json_normalize(bangalore_cars['new_car_detail'])
new_car_details_bl

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText.imgUrl,trendingText.heading,trendingText.desc
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,3979,VXI,â‚¹ 4 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,6087,1.5 Petrol Titanium BSIV,â‚¹ 8.11 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,2983,1.2 Revotron XZ,â‚¹ 5.85 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,1867,1.2 Kappa S Option,â‚¹ 4.62 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,4277,DDiS 200 Zeta,â‚¹ 7.90 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476,0,Diesel,SUV,"1,56,039",Manual,2,2nd Owner,Toyota,Toyota Fortuner,2012,2253,4x4 MT,â‚¹ 16.49 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1477,0,Petrol,Sedan,"56,000",Manual,2,2nd Owner,Maruti,Maruti SX4,2008,4257,Zxi BSIII,â‚¹ 3.30 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1478,0,Petrol,Hatchback,"42,000",Manual,2,2nd Owner,Honda,Honda Brio,2014,1188,S MT,â‚¹ 4.25 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1479,0,Diesel,Hatchback,"93,003",Manual,1,1st Owner,Hyundai,Hyundai i20,2018,5695,1.4 Asta Dual Tone,â‚¹ 7.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1480,0,Petrol,Hatchback,"36,000",Automatic,2,2nd Owner,Hyundai,Hyundai Grand i10,2017,1523,Asta Option AT,â‚¹ 6.75 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days

In [213]:
new_car_overview_bl=pd.json_normalize(bangalore_cars['new_car_overview'])
new_car_overview_bl

,heading,top,bottomData
0,Car overview,"[{'key': 'Registration Year', 'value': '2015',...",None
1,Car overview,"[{'key': 'Registration Year', 'value': 'Feb 20...",None
2,Car overview,"[{'key': 'Registration Year', 'value': 'Sept 2...",None
3,Car overview,"[{'key': 'Registration Year', 'value': 'Dec 20...",None
4,Car overview,"[{'key': 'Registration Year', 'value': '2015',...",None
...,...,...,...
1476,Car overview,"[{'key': 'Registration Year', 'value': 'May 20...",None
1477,Car overview,"[{'key': 'Registration Year', 'value': 'Jun 20...",None
1478,Car overview,"[{'key': 'Registration Year', 'value': 'Sept 2...",None
1479,Car overview,"[{'key': 'Registration Year', 'value': 'Dec 20...",None
1480,Car overview,"[{'key': 'Registration Year', 'value': 'May 20...",None

In [214]:
new_car_overview_bl.drop('bottomData',axis=1,inplace=True)

In [215]:
new_car_overview_bl_top=new_car_overview_bl['top'].apply(list_to_dict)
new_car_overview_bl_top=pd.json_normalize(new_car_overview_bl_top)
new_car_overview_bl_top

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,2015,Third Party insurance,Petrol,5 Seats,"1,20,000 Kms",KA51,Third Owner,998 cc,Manual,2015.0
1,Feb 2018,Comprehensive,Petrol,5 Seats,"32,706 Kms",KA05,Second Owner,1497 cc,Manual,2018.0
2,Sept 2018,Comprehensive,Petrol,5 Seats,"11,949 Kms",KA03,First Owner,1199 cc,Manual,2018.0
3,Dec 2014,Comprehensive,Petrol,5 Seats,"17,794 Kms",KA53,First Owner,1197 cc,Manual,2014.0
4,2015,Third Party insurance,Diesel,5 Seats,"60,000 Kms",KA04,First Owner,1248 cc,Manual,2015.0
...,...,...,...,...,...,...,...,...,...,...
1476,May 2012,Comprehensive,Diesel,7 Seats,"1,56,039 Kms",KA01,Second Owner,2982 cc,Manual,2012.0
1477,Jun 2008,Third Party insurance,Petrol,5 Seats,"56,000 Kms",KA02,Second Owner,1586 cc,Manual,2008.0
1478,Sept 2014,Comprehensive,Petrol,5 Seats,"42,000 Kms",KA03,Second Owner,1198 cc,Manual,2014.0
1479,Dec 2018,Comprehensive,Diesel,5 Seats,"93,003 Kms",KA03,First Owner,1396 cc,Manual,2018.0
1480,May 2017,Comprehensive,Petrol,5 Seats,"36,000 Kms",KA04,Second Owner,1197 cc,Automatic,2017.0

In [216]:
new_car_specs_bl=pd.json_normalize(bangalore_cars['new_car_specs'])
new_car_specs_bl.drop('commonIcon',axis=1,inplace=True)
new_car_specs_bl

,heading,top,data
0,Specifications,"[{'key': 'Mileage', 'value': '23.1 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe..."
1,Specifications,"[{'key': 'Mileage', 'value': '17 kmpl'}, {'key...","[{'heading': 'Engine and Transmission', 'subHe..."
2,Specifications,"[{'key': 'Mileage', 'value': '23.84 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe..."
3,Specifications,"[{'key': 'Mileage', 'value': '19.1 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe..."
4,Specifications,"[{'key': 'Mileage', 'value': '23.65 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe..."
...,...,...,...
1476,Specifications,"[{'key': 'Mileage', 'value': '12.55 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe..."
1477,Specifications,"[{'key': 'Mileage', 'value': '15 kmpl'}, {'key...","[{'heading': 'Engine and Transmission', 'subHe..."
1478,Specifications,"[{'key': 'Mileage', 'value': '19.4 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe..."
1479,Specifications,"[{'key': 'Mileage', 'value': '22.54 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe..."
1480,Specifications,"[{'key': 'Mileage', 'value': '18.9 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe..."

In [217]:
new_car_specs_bl_top=new_car_specs_bl['top'].apply(list_to_dict)
new_car_specs_bl_top=pd.json_normalize(new_car_specs_bl_top)
new_car_specs_bl_top

         Mileage   Engine  Max Power    Torque Seats Wheel Size
0      23.1 kmpl   998 CC   67.04bhp      90Nm     5        NaN
1        17 kmpl  1497 CC  121.31bhp     150Nm     5         16
2     23.84 kmpl  1199 CC      84bhp     114Nm     5         14
3      19.1 kmpl  1197 CC   81.86bhp  113.75Nm     5         14
4     23.65 kmpl  1248 CC    88.5bhp     200Nm     5         16
...          ...      ...        ...       ...   ...        ...
1476  12.55 kmpl  2982 CC   168.5bhp     343Nm     7         17
1477     15 kmpl  1586 CC     104.68       145     5         16
1478   19.4 kmpl  1198 CC    86.8bhp     109Nm     5        NaN
1479  22.54 kmpl  1396 CC   88.73bhp   219.7Nm     5         16
1480   18.9 kmpl  1197 CC      82bhp     114Nm     5         14

[1481 rows x 6 columns]

In [218]:
new_car_specs_bl_data=pd.json_normalize(new_car_specs_bl['data'])
new_car_specs_bl_data

,0,1,2
0,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
2,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
3,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
4,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
...,...,...,...
1476,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1477,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1478,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1479,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."
1480,"{'heading': 'Engine and Transmission', 'subHea...","{'heading': 'Dimensions & Capacity', 'subHeadi...","{'heading': 'Miscellaneous', 'subHeading': 'Mi..."

In [219]:
new_car_specs_bl_data_0=pd.json_normalize(new_car_specs_bl_data[0])
new_car_specs_bl_data_0=new_car_specs_bl_data_0['list'].apply(list_to_dict)
new_car_specs_bl_data_0=pd.json_normalize(new_car_specs_bl_data_0)
new_car_specs_bl_data_0

,Color,Engine Type,Displacement,Max Power,Max Torque,No of Cylinder,Values per Cylinder,Value Configuration,Fuel Suppy System,BoreX Stroke,Compression Ratio,Turbo Charger,Super Charger,Seating Capacity,Steering Type,Tyre Type,Alloy Wheel Size,No Door Numbers
0,White,K10B Engine,998,67.04bhp@6000rpm,90Nm@3500rpm,3.0,4.0,DOHC,MPFi,73 X 82 mm,11.0:1,No,No,NaN,NaN,NaN,NaN,NaN
1,White,Ti-VCT Petrol Engine,1497,121.31bhp@6500rpm,150Nm@4500rpm,3.0,4.0,DOHC,Direct Injection,79 X 76.5 mm,11.0:1,No,No,NaN,NaN,NaN,NaN,NaN
2,Red,Revotron Engine,1199,84bhp@6000rpm,114Nm@3500rpm,3.0,4.0,DOHC,MPFi,77 X 85.8 mm,10.8:1,No,No,NaN,NaN,NaN,NaN,NaN
3,Others,Kappa VTVT Petrol Engine,1197,81.86bhp@6000rpm,113.75Nm@4000rpm,4.0,4.0,DOHC,Direct Injection,NaN,NaN,No,No,NaN,NaN,NaN,NaN,NaN
4,Gray,DDiS 200 Diesel Engine,1248,88.5bhp@4000rpm,200Nm@1750rpm,4.0,4.0,DOHC,NaN,69.6 x 82 mm,NaN,Yes,No,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476,Blue,D-4D Diesel Engine,2982,168.5bhp@3600rpm,343Nm@1400-3400rpm,4.0,4.0,DOHC,CRDi,NaN,NaN,Yes,No,NaN,NaN,NaN,NaN,NaN
1477,Red,In-Line Engine,1586,"104.68@5,600 (PS@rpm)","145@4,100 (kgm@rpm)",4.0,4.0,DOHC,MPFI,78 x 83 mm,9:01,No,No,NaN,NaN,NaN,NaN,NaN
1478,White,i-VTEC Engine,1198,86.8bhp@6000rpm,109Nm@4500rpm,4.0,4.0,SOHC,PGM - Fi,NaN,NaN,No,No,NaN,NaN,NaN,NaN,NaN
1479,Red,U2 CRDI Diesel Engine,1396,88.73bhp@4000rpm,219.7Nm@1500-2750rpm,4.0,4.0,DOHC,CRDI,NaN,NaN,Yes,No,NaN,NaN,NaN,NaN,NaN
1480,White,Kappa VTVT Petrol Engine,1197,82bhp@6000rpm,114Nm@4000rpm,4.0,4.0,DOHC,MPFI,NaN,NaN,No,No,NaN,NaN,NaN,NaN,NaN

In [220]:
new_car_specs_bl_data_1=pd.json_normalize(new_car_specs_bl_data[1])
new_car_specs_bl_data_1=new_car_specs_bl_data_1['list'].apply(list_to_dict)
new_car_specs_bl_data_1=pd.json_normalize(new_car_specs_bl_data_1)
new_car_specs_bl_data_1

,Length,Width,Height,Wheel Base,Front Tread,Rear Tread,Kerb Weight,Gross Weight,Ground Clearance Unladen,Seating Capacity,Steering Type,Tyre Type,Alloy Wheel Size,No Door Numbers
0,3715mm,1635mm,1565mm,2425mm,1420mm,1410mm,835kg,1250kg,NaN,NaN,NaN,NaN,NaN,NaN
1,3998mm,1765mm,1647mm,2519mm,NaN,NaN,1242Kg,1660Kg,NaN,NaN,NaN,NaN,NaN,NaN
2,3746mm,1647mm,1535mm,2400mm,1400mm,1420mm,1012kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3995mm,1660mm,1520mm,2425mm,1479mm,1493mm,1180,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4300mm,1785mm,1595mm,2600mm,NaN,NaN,1230Kg,1670kg,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476,4705mm,1840mm,1850mm,2750mm,1540mm,1540mm,1970kg,2510kg,NaN,NaN,NaN,NaN,NaN,NaN
1477,4490mm,1735mm,1570mm,2500mm,1500mm,1495mm,1200kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1478,3610mm,1680mm,1500mm,2345mm,1480mm,1465mm,925kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1479,3985mm,1734mm,1505mm,2570mm,1505mm,1503mm,1515kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1480,3765mm,1660mm,1520mm,2425mm,1479mm,1493mm,935kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [221]:
new_car_specs_bl_data_2=pd.json_normalize(new_car_specs_bl_data[2])
new_car_specs_bl_data_2=new_car_specs_bl_data_2['list'].apply(list_to_dict)
new_car_specs_bl_data_2=pd.json_normalize(new_car_specs_bl_data_2)
new_car_specs_bl_data_2

,Gear Box,Drive Type,Seating Capacity,Steering Type,Turning Radius,Front Brake Type,Rear Brake Type,Top Speed,Acceleration,Tyre Type,No Door Numbers,Cargo Volumn,Alloy Wheel Size
0,5 Speed,FWD,5,Power,4.7 metres,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless, Radial",5,235-litres,NaN
1,5 Speed,FWD,5,Power,5.3 metres,Ventilated Disc,Drum,NaN,NaN,"Tubeless,Radial",4,352-litres,16
2,5 Speed,FWD,5,Power,4.9 meters,Disc,Drum,150 kmph,14.3 Seconds,Tubeless,5,242-litres,14
3,5 Speed,FWD,5,Power,4.7 metres,Disc,Drum,172km/hr,14.2 Seconds,"Tubeless,Radial",4,407-litres,14
4,5 Speed,FWD,5,Power,5.2 meters,Ventilated Disc,Solid Disc,190 Kmph,12 Seconds,"Tubeless,Radial",5,353-litres,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476,5 Speed,4WD,7,Power,5.9 metres,Ventilated Disc,Drum,176 Kmph,9.6 Seconds,"Tubeless,Radial",5,296-litres,17
1477,5 Speed,NaN,5,Power,5.3 m,Ventilated Disc,Drum,177 kmph,12.1 seconds,"Tubeless, Radial",4,505 litres,16
1478,5 Speed,FWD,5,Power,4.5 metres,Disc,Drum,164 Kmph,14.5 Seconds,"Tubeless,Radial",5,175-litres,NaN
1479,6 Speed,FWD,5,Power,5.2 metres,Disc,Drum,180 Kmph,11.9 Seconds,Tubeless,5,295-litres,16
1480,4 Speed,FWD,5,Power,4.8 metres,Disc,Drum,165 Kmph,12.9 Seconds,Tubeless,5,256-liters,14

In [222]:
bangalore_cars=pd.concat([new_car_details_bl,new_car_overview_bl_top,new_car_specs_bl_top,new_car_specs_bl_data_0,new_car_specs_bl_data_1,new_car_specs_bl_data_2])

In [223]:
bangalore_cars['City']='Bangalore'

In [224]:
bangalore_cars.to_csv(r"C:\Users\prave\OneDrive\Documents\GUVI\car dheko\bangalore_cars.csv",index=False)
bangalore_cars

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Ground Clearance Unladen,Gear Box,Drive Type,Turning Radius,Front Brake Type,Rear Brake Type,Top Speed,Acceleration,Cargo Volumn,City
0,0.0,Petrol,Hatchback,"1,20,000",Manual,3.0,3rd Owner,Maruti,Maruti Celerio,2015.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bangalore
1,0.0,Petrol,SUV,"32,706",Manual,2.0,2nd Owner,Ford,Ford Ecosport,2018.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bangalore
2,0.0,Petrol,Hatchback,"11,949",Manual,1.0,1st Owner,Tata,Tata Tiago,2018.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bangalore
3,0.0,Petrol,Sedan,"17,794",Manual,1.0,1st Owner,Hyundai,Hyundai Xcent,2014.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bangalore
4,0.0,Diesel,SUV,"60,000",Manual,1.0,1st Owner,Maruti,Maruti SX4 S Cross,2015.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5 Speed,4WD,5.9 metres,Ventilated Disc,Drum,176 Kmph,9.6 Seconds,296-litres,Bangalore
1477,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5 Speed,NaN,5.3 m,Ventilated Disc,Drum,177 kmph,12.1 seconds,505 litres,Bangalore
1478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5 Speed,FWD,4.5 metres,Disc,Drum,164 Kmph,14.5 Seconds,175-litres,Bangalore
1479,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6 Speed,FWD,5.2 metres,Disc,Drum,180 Kmph,11.9 Seconds,295-litres,Bangalore
1480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4 Speed,FWD,4.8 metres,Disc,Drum,165 Kmph,12.9 Seconds,256-liters,Bangalore