In [2]:
import pandas as pd
import numpy as np

In [53]:
Bangalore=pd.read_csv(r"C:\Users\prave\OneDrive\Documents\GUVI\car dheko\bangalore_cars.csv")
Chennai=pd.read_csv(r"C:\Users\prave\OneDrive\Documents\GUVI\car dheko\chennai_cars.csv")                   
Delhi=pd.read_csv(r"C:\Users\prave\OneDrive\Documents\GUVI\car dheko\delhi_cars.csv")
Hyderabad=pd.read_csv(r"C:\Users\prave\OneDrive\Documents\GUVI\car dheko\hyderabad_cars.csv")
Jaipur=pd.read_csv(r"C:\Users\prave\OneDrive\Documents\GUVI\car dheko\jaipur_cars.csv")
Kolkata=pd.read_csv(r"C:\Users\prave\OneDrive\Documents\GUVI\car dheko\jaipur_cars.csv")

C:\Users\prave\AppData\Local\Temp\ipykernel_6392\1024237606.py:1: DtypeWarning: Columns (1,2,3,4,6,7,8,11,12,13,16,17,18,19,20,21,22,23,24,25,26,27,29,30,31,32,33,34,35,37,40,41,42,43,44,45,51,52,53,54,55,56,57,58,59) have mixed types. Specify dtype option on import or set low_memory=False.
  Bangalore=pd.read_csv(r"C:\Users\prave\OneDrive\Documents\GUVI\car dheko\bangalore_cars.csv")
C:\Users\prave\AppData\Local\Temp\ipykernel_6392\1024237606.py:2: DtypeWarning: Columns (2,3,4,5,7,8,9,12,13,14,17,18,19,20,21,22,23,24,25,26,27,28,30,31,32,33,34,35,36,38,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55) have mixed types. Specify dtype option on import or set low_memory=False.
  Chennai=pd.read_csv(r"C:\Users\prave\OneDrive\Documents\GUVI\car dheko\chennai_cars.csv")
C:\Users\prave\AppData\Local\Temp\ipykernel_6392\1024237606.py:3: DtypeWarning: Columns (1,2,3,4,6,7,8,11,12,13,16,17,18,19,20,21,22,23,24,25,26,28,29,30,31,32,33,34,35,37,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54) have mixed types. Specify dtype option on import or set low_memory=False.
  Delhi=pd.read_csv(r"C:\Users\prave\OneDrive\Documents\GUVI\car dheko\delhi_cars.csv")
C:\Users\prave\AppData\Local\Temp\ipykernel_6392\1024237606.py:4: DtypeWarning: Columns (2,3,4,5,7,8,9,12,13,14,17,18,19,20,21,22,23,24,25,26,27,28,30,31,32,33,34,35,36,38,41,42,43,44,45,46,52,53,54,55,56,57,58,59,60) have mixed types. Specify dtype option on import or set low_memory=False.
  Hyderabad=pd.read_csv(r"C:\Users\prave\OneDrive\Documents\GUVI\car dheko\hyderabad_cars.csv")

In [54]:
Final_report=pd.concat([Bangalore,Chennai,Delhi,Hyderabad,Jaipur,Kolkata],axis=0)
Final_report

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Seating Capacity.1,Steering Type.1,Turning Radius.1,Front Brake Type.1,Rear Brake Type.1,Top Speed.1,Acceleration.1,Tyre Type.1,Alloy Wheel Size.1,No Door Numbers.1
0,0.0,Petrol,Hatchback,"1,20,000",Manual,3.0,3rd Owner,Maruti,Maruti Celerio,2015.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,Petrol,SUV,"32,706",Manual,2.0,2nd Owner,Ford,Ford Ecosport,2018.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,Petrol,Hatchback,"11,949",Manual,1.0,1st Owner,Tata,Tata Tiago,2018.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,Petrol,Sedan,"17,794",Manual,1.0,1st Owner,Hyundai,Hyundai Xcent,2014.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,Diesel,SUV,"60,000",Manual,1.0,1st Owner,Maruti,Maruti SX4 S Cross,2015.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,0.0,Petrol,Hatchback,"1,20,000",Manual,1.0,1st Owner,Chevrolet,Chevrolet Beat,2011.0,...,5.0,Power,4.85metres,Disc,Drum,NaN,NaN,"Tubeless,Radial",14,5.0
1116,0.0,Petrol,Hatchback,"70,000",Manual,1.0,1st Owner,Maruti,Maruti Alto,2007.0,...,5.0,Manual,4.6m,Disc,Drum,137km/hr,17.7 seconds,"Tubeless,Radial",12,5.0
1117,0.0,Petrol,SUV,"20,000",Manual,1.0,1st Owner,Renault,Renault Kiger,2022.0,...,5.0,Electric,NaN,Disc,Drum,NaN,NaN,"Tubeless, Radial",16,5.0
1118,0.0,Petrol,Hatchback,"40,000",Manual,1.0,1st Owner,Maruti,Maruti Alto,2009.0,...,5.0,Manual,4.6m,Disc,Drum,137km/hr,17.7 seconds,"Tubeless,Radial",12,5.0
1119,0.0,Petrol,Hatchback,"80,000",Manual,1.0,1st Owner,Maruti,Maruti Baleno,2018.0,...,5.0,Power,4.9 meters,Disc,Drum,180 Kmph,12.36 seconds,"Tubeless,Radial",NaN,5.0

In [55]:
Final_report.isnull()
Final_report.shape

(37448, 84)

Fuel Type - Different fuel types have varying values (e.g., diesel vs. petrol).
Body Type - SUVs, hatchbacks, and sedans have different market values.
Transmission - Manual vs. automatic transmission impacts car value.
Number of Previous Owners - More owners can reduce car resale value.
Manufacturer - Brand impacts the price (e.g., luxury brands have higher value).
Model - Model affects price, as some models hold value better.
modelYear - Age of the car is one of the main price determinants.
Price - This is typically used for supervised learning models if it’s the target.
Insurance Status - Cars with valid insurance are often valued higher.
Kilometers Driven - Mileage affects wear and resale value.
Fuel Efficiency - Higher mileage cars may be more desirable.
Engine - Engine size/power can affect value.
Seating Capacity - Affects demand and resale value (e.g., family cars with more seats).
Color - Certain colors may be valued higher or lower depending on trends.
Location - Market prices can vary by location.

In [10]:
necessary_columns = [
    'ft',                 
    'bt',                 
    'transmission',       
    'ownerNo',            
    'oem',                
    'model',              
    'modelYear',          
    'price', 
    'Insurance Validity', 
    'Kms Driven',         
    'Mileage',            
    'Engine',             
    'Seats',              
    'Color',              
    'City'                
]

In [56]:
Final_report=Final_report[necessary_columns]
Final_report

,ft,bt,transmission,ownerNo,oem,model,modelYear,price,Insurance Validity,Kms Driven,Mileage,Engine,Seats,Color,City
0,Petrol,Hatchback,Manual,3.0,Maruti,Maruti Celerio,2015.0,₹ 4 Lakh,NaN,NaN,NaN,NaN,NaN,NaN,Bangalore
1,Petrol,SUV,Manual,2.0,Ford,Ford Ecosport,2018.0,₹ 8.11 Lakh,NaN,NaN,NaN,NaN,NaN,NaN,Bangalore
2,Petrol,Hatchback,Manual,1.0,Tata,Tata Tiago,2018.0,₹ 5.85 Lakh,NaN,NaN,NaN,NaN,NaN,NaN,Bangalore
3,Petrol,Sedan,Manual,1.0,Hyundai,Hyundai Xcent,2014.0,₹ 4.62 Lakh,NaN,NaN,NaN,NaN,NaN,NaN,Bangalore
4,Diesel,SUV,Manual,1.0,Maruti,Maruti SX4 S Cross,2015.0,₹ 7.90 Lakh,NaN,NaN,NaN,NaN,NaN,NaN,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,Petrol,Hatchback,Manual,1.0,Chevrolet,Chevrolet Beat,2011.0,₹ 1.08 Lakh,Third Party insurance,"1,20,000 Kms",18.6 kmpl,1199 CC,5 Seats,Others,Jaipur
1116,Petrol,Hatchback,Manual,1.0,Maruti,Maruti Alto,2007.0,₹ 1.05 Lakh,Third Party insurance,"70,000 Kms",19.7 kmpl,796 CC,5 Seats,Others,Jaipur
1117,Petrol,SUV,Manual,1.0,Renault,Renault Kiger,2022.0,₹ 8.50 Lakh,Third Party insurance,"20,000 Kms",19.17 kmpl,999 CC,5 Seats,Others,Jaipur
1118,Petrol,Hatchback,Manual,1.0,Maruti,Maruti Alto,2009.0,₹ 1 Lakh,Third Party insurance,"40,000 Kms",19.7 kmpl,796 CC,5 Seats,Others,Jaipur
1119,Petrol,Hatchback,Manual,1.0,Maruti,Maruti Baleno,2018.0,₹ 5 Lakh,Third Party insurance,"80,000 Kms",21.4 kmpl,1197 CC,5 Seats,Others,Jaipur

In [61]:
Final_report=Final_report.rename({"ft": "Fuel_Type", "bt": "Body_Type", "oem": "Brand", "Insurance Validity": "Insurance_Validity","Kms Driven":"Kms_Driven","Gear Box": "Gear_Box","Drive Type": "Drive_Type"}, axis='columns')
Final_report

,Fuel_Type,Body_Type,transmission,ownerNo,Brand,model,modelYear,price,Insurance_Validity,Kms_Driven,Mileage,Engine,Seats,Color,City
0,Petrol,Hatchback,Manual,3.0,Maruti,Maruti Celerio,2015.0,400000.0,NaN,NaN,NaN,NaN,NaN,NaN,Bangalore
1,Petrol,SUV,Manual,2.0,Ford,Ford Ecosport,2018.0,811000.0,NaN,NaN,NaN,NaN,NaN,NaN,Bangalore
2,Petrol,Hatchback,Manual,1.0,Tata,Tata Tiago,2018.0,585000.0,NaN,NaN,NaN,NaN,NaN,NaN,Bangalore
3,Petrol,Sedan,Manual,1.0,Hyundai,Hyundai Xcent,2014.0,462000.0,NaN,NaN,NaN,NaN,NaN,NaN,Bangalore
4,Diesel,SUV,Manual,1.0,Maruti,Maruti SX4 S Cross,2015.0,790000.0,NaN,NaN,NaN,NaN,NaN,NaN,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,Petrol,Hatchback,Manual,1.0,Chevrolet,Chevrolet Beat,2011.0,108000.0,Third Party insurance,"1,20,000 Kms",18.6 kmpl,1199 CC,5 Seats,Others,Jaipur
1116,Petrol,Hatchback,Manual,1.0,Maruti,Maruti Alto,2007.0,105000.0,Third Party insurance,"70,000 Kms",19.7 kmpl,796 CC,5 Seats,Others,Jaipur
1117,Petrol,SUV,Manual,1.0,Renault,Renault Kiger,2022.0,850000.0,Third Party insurance,"20,000 Kms",19.17 kmpl,999 CC,5 Seats,Others,Jaipur
1118,Petrol,Hatchback,Manual,1.0,Maruti,Maruti Alto,2009.0,100000.0,Third Party insurance,"40,000 Kms",19.7 kmpl,796 CC,5 Seats,Others,Jaipur
1119,Petrol,Hatchback,Manual,1.0,Maruti,Maruti Baleno,2018.0,500000.0,Third Party insurance,"80,000 Kms",21.4 kmpl,1197 CC,5 Seats,Others,Jaipur

In [62]:
def price(amount):
    amount = str(amount).replace("₹", "").replace(",", "").strip().lower()
    if 'crore' in amount:
        return round(float(amount.replace("crore", "").strip()) * 1e7, 2)
    elif 'lakh' in amount:
        return round(float(amount.replace("lakh", "").strip()) * 1e5, 2)
    else:
        try:
            return round(float(amount), 2)  # Changed 'price' to 'amount'
        except ValueError:
            return None

In [58]:
# Apply the function to the 'price' column
Final_report['price'] = Final_report['price'].apply(price)

# Convert the 'price' column to float (this step is now redundant as 'price' is already float)
Final_report['price'] = Final_report['price'].astype(float)
Final_report['price']

C:\Users\prave\AppData\Local\Temp\ipykernel_6392\819118851.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Final_report['price'] = Final_report['price'].apply(price)
C:\Users\prave\AppData\Local\Temp\ipykernel_6392\819118851.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Final_report['price'] = Final_report['price'].astype(float)

0       400000.0
1       811000.0
2       585000.0
3       462000.0
4       790000.0
          ...
1115    108000.0
1116    105000.0
1117    850000.0
1118    100000.0
1119    500000.0
Name: price, Length: 37448, dtype: float64

In [63]:
Final_report['Body_Type'] = Final_report['Body_Type'].fillna(Final_report['Body_Type'].mode()[0])
Final_report['Body_Type']

0       Hatchback
1             SUV
2       Hatchback
3           Sedan
4             SUV
          ...
1115    Hatchback
1116    Hatchback
1117          SUV
1118    Hatchback
1119    Hatchback
Name: Body_Type, Length: 37448, dtype: object

In [64]:
Final_report['Body_Type'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
1115    False
1116    False
1117    False
1118    False
1119    False
Name: Body_Type, Length: 37448, dtype: bool

In [65]:
Final_report['Insurance_Validity']=Final_report['Insurance_Validity'].fillna(Final_report['Insurance_Validity'].mode()[0])

In [66]:
Final_report['Kms_Driven']=Final_report['Kms_Driven'].str.replace("Kms","").str.replace(",","").str.strip()
Final_report['Kms_Driven']=Final_report['Kms_Driven'].astype(float)

In [67]:
Final_report['Kms_Driven']=Final_report['Kms_Driven'].fillna(Final_report['Kms_Driven'].mean())

In [68]:
Final_report['Mileage']=Final_report['Mileage'].str.extract(r'([\d\.]+)').astype(float)
Final_report['Mileage']=Final_report['Mileage'].fillna(Final_report['Mileage'].mean())

In [ ]:
Final_report['Engine']=Final_report['Engine'].str.extract(r'([\d\.]+)').astype(float)
Final_report['Engine']=Final_report['Engine'].fillna(Final_report['Engine'].mean()).astype(int)

In [ ]:
Final_report['Seats']=Final_report['Seats'].str.extract(r'([\d\.]+)').astype(float)
Final_report['Seats']=Final_report['Seats'].fillna(Final_report['Seats'].mean()).astype(int)

In [82]:
Final_report['Color'] = Final_report['Color'].fillna(Final_report['Color'].mode()[0])

In [79]:
Final_report.drop_duplicates(inplace=True)

In [83]:
Final_report.isnull().sum()

Fuel_Type             5937
Body_Type                0
transmission          5937
ownerNo               5937
Brand                 5937
model                 5937
modelYear             5937
price                 5937
Insurance_Validity       0
Kms_Driven               0
Mileage                  0
Engine                   0
Seats                    0
Color                    0
City                     0
dtype: int64

In [84]:
Final_report.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12726 entries, 0 to 1119
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Fuel_Type           6789 non-null   object
 1   Body_Type           12726 non-null  object
 2   transmission        6789 non-null   object
 3   ownerNo             6789 non-null   float64
 4   Brand               6789 non-null   object
 5   model               6789 non-null   object
 6   modelYear           6789 non-null   float64
 7   price               6789 non-null   float64
 8   Insurance_Validity  12726 non-null  object
 9   Kms_Driven          12726 non-null  float64
 10  Mileage             12726 non-null  float64
 11  Engine              12726 non-null  int32
 12  Seats               12726 non-null  int32
 13  Color               12726 non-null  object
 14  City                12726 non-null  object
dtypes: float64(5), int32(2), object(8)
memory usage: 1.5+ MB

In [88]:
Final_report=Final_report.dropna()

In [89]:
Final_report.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6789 entries, 0 to 1119
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Fuel_Type           6789 non-null   object
 1   Body_Type           6789 non-null   object
 2   transmission        6789 non-null   object
 3   ownerNo             6789 non-null   float64
 4   Brand               6789 non-null   object
 5   model               6789 non-null   object
 6   modelYear           6789 non-null   float64
 7   price               6789 non-null   float64
 8   Insurance_Validity  6789 non-null   object
 9   Kms_Driven          6789 non-null   float64
 10  Mileage             6789 non-null   float64
 11  Engine              6789 non-null   int32
 12  Seats               6789 non-null   int32
 13  Color               6789 non-null   object
 14  City                6789 non-null   object
dtypes: float64(5), int32(2), object(8)
memory usage: 795.6+ KB

In [90]:
Final_report.to_csv(r"C:\Users\prave\OneDrive\Documents\GUVI\car dheko\final_report.csv",index=False)
final_report=pd.read_csv(r"C:\Users\prave\OneDrive\Documents\GUVI\car dheko\final_report.csv")
final_report

,Fuel_Type,Body_Type,transmission,ownerNo,Brand,model,modelYear,price,Insurance_Validity,Kms_Driven,Mileage,Engine,Seats,Color,City
0,Petrol,Hatchback,Manual,3.0,Maruti,Maruti Celerio,2015.0,400000.0,Third Party insurance,63659.70364,19.359587,1421,5,White,Bangalore
1,Petrol,SUV,Manual,2.0,Ford,Ford Ecosport,2018.0,811000.0,Third Party insurance,63659.70364,19.359587,1421,5,White,Bangalore
2,Petrol,Hatchback,Manual,1.0,Tata,Tata Tiago,2018.0,585000.0,Third Party insurance,63659.70364,19.359587,1421,5,White,Bangalore
3,Petrol,Sedan,Manual,1.0,Hyundai,Hyundai Xcent,2014.0,462000.0,Third Party insurance,63659.70364,19.359587,1421,5,White,Bangalore
4,Diesel,SUV,Manual,1.0,Maruti,Maruti SX4 S Cross,2015.0,790000.0,Third Party insurance,63659.70364,19.359587,1421,5,White,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6784,Petrol,Hatchback,Manual,1.0,Chevrolet,Chevrolet Beat,2011.0,108000.0,Third Party insurance,120000.00000,18.600000,1199,5,Others,Jaipur
6785,Petrol,Hatchback,Manual,1.0,Maruti,Maruti Alto,2007.0,105000.0,Third Party insurance,70000.00000,19.700000,796,5,Others,Jaipur
6786,Petrol,SUV,Manual,1.0,Renault,Renault Kiger,2022.0,850000.0,Third Party insurance,20000.00000,19.170000,999,5,Others,Jaipur
6787,Petrol,Hatchback,Manual,1.0,Maruti,Maruti Alto,2009.0,100000.0,Third Party insurance,40000.00000,19.700000,796,5,Others,Jaipur
6788,Petrol,Hatchback,Manual,1.0,Maruti,Maruti Baleno,2018.0,500000.0,Third Party insurance,80000.00000,21.400000,1197,5,Others,Jaipur